<!doctype html>
<html>
<head>
  <title>Couchbase API / SDK Playground - Admin Dashboard</title>
  <link rel="stylesheet" type="text/css"
        href="/static/style.css">
  <style>
    .main {
      padding: 20px 40px 40px 40px;
    }

    .main .infos {
      font-family: monospace;
      font-size: 8pt;
    }

    .main table.nums {
      margin-top: 160px;
      border-collapse: collapse;
    }

    .main table.nums th,
    .main table.nums td {
      font-size: 8pt;
      text-align: right;
    }

    .main table.nums th.num {
      min-width: 1.5rem;
    }

    .main table.nums th.num div.num {
      position: absolute;
      font-size: 8pt;
      transform-origin: 0 0; /* top-left instead of center */
      transform: rotate(-45deg);
    }

    .main table.nums tbody tr:hover {
      background-color: #eee;
    }

    .main table.nums tbody tr td {
      padding-left: 5px;
    }

    .main table.nums tr.level-1 {
      background-color: #e8f8ff;
    }
    .main table.nums tr.level-2 {
      background-color: #a8e8ff;
    }
    .main table.nums tr.level-3 {
      background-color: #68d8ff;
    }
    .main table.nums tr.level-4 {
      background-color: #28c8ff;
    }
  </style>
</head>
<body>
  <div class="header flex-row">
    <div class="header-title">
      <a href="/">
        <h1>Couchbase API / SDK Playground - Admin Dashboard</h1>
      </a>
    </div>

    <div class="header-links">
      <a href="https://docs.couchbase.com">docs</a>
      <a href="https://www.couchbase.com">couchbase.com</a>
    </div>
  </div>

  <div class="flex-row">
    <div class="main">
      <h2>Admin Dashboard</h2>

      <div class="infos">{{.infos}}</div>

      <table class="nums">
       <thead>
        <tr>
          <th>time</th>
          {{range .keys}}
            <th class="num"><div class="num">{{.}}</div></th>
          {{end}}
        </tr>
       </thead>
       <tbody>
        {{range $level, $a := $.hists}}
          {{range $v := $a}}
            <tr class="level-{{$level}}">
              <th class="at">{{$v.At}}</th>
              {{range $k := $.keys}}
                <td>
                  {{index $v.Nums $k}}
                </td>
              {{end}}
            </tr>
          {{end}}
        {{end}}
       </tbody>
      </table>
    </div>
  </div>

  <div class="footer">
    powered by the smallcb project from Couchbase Labs
  </div>
</body>
</html>
