<!doctype html>
<html>
<head>
  <title>Couchbase API / SDK Playground - Admin Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/site.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/admin-dashboard.css">
</head>
<body>
  <div class="header flex-row">
    <div class="header-title">
      <a href="/">
        <h1>Couchbase API / SDK Playground - Admin Dashboard</h1>
      </a>
    </div>

    <div class="header-links">
      <a href="https://docs.couchbase.com">docs</a>
      <a href="https://www.couchbase.com">couchbase.com</a>
    </div>
  </div>

  <div class="flex-row">
    <div class="main">
      <h2>Admin Dashboard</h2>

      <div class="infos">{{.infos}}</div>

      <table class="nums">
       <thead>
        <tr>
          <th>time</th>
          {{range .keys}}
            <th class="num"><div class="num">{{.}}</div></th>
          {{end}}
        </tr>
       </thead>
       <tbody>
        {{range $level, $a := $.hists}}
          {{range $v := $a}}
            <tr class="level-{{$level}}">
              <th class="at">{{$v.At}}</th>
              {{range $k := $.keys}}
                <td>
                  {{index $v.Nums $k}}
                </td>
              {{end}}
            </tr>
          {{end}}
        {{end}}
       </tbody>
      </table>
    </div>
  </div>

  <div class="footer">
    powered by the smallcb project from Couchbase Labs
  </div>
</body>
</html>
