<!doctype html>
<html>
<head>
  <title>Couchbase Playground - Admin Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles/site.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/admin-dashboard.css">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">
        <h1>Couchbase Playground - Admin Dashboard</h1>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="https://docs.couchbase.com">docs</a>
        </li>
        <li>
          <a href="https://www.couchbase.com">couchbase.com</a>
        </li>
      </ul>
    </nav>
  </header>

  <div>
    <div class="main">
      <h2>Infos</h2>

      <div class="infos">{{.infos}}</div>

      <h2>Counters</h2>

      <table class="nums">
        <thead>
          <tr>
            <th>time</th>
            {{range .keys}}
            <th class="num"><div class="num">{{.}}</div></th>
            {{end}}
          </tr>
        </thead>
        <tbody>
          {{range $level, $a := $.hists}}
            {{range $v := $a}}
            <tr class="level-{{$level}}">
              <th class="at">{{$v.At}}</th>
              {{range $k := $.keys}}
              <td>
                {{index $v.Nums $k}}
              </td>
              {{end}}
            </tr>
            {{end}}
          {{end}}
        </tbody>
      </table>
    </div>

    <div class="errs">
      <h2>Recent Errors</h2>
      <ul>
        {{range .errs}}
          <li>{{.}}</li>
        {{end}}
      </ul>
    </div>
  </div>

  <div class="footer">
    powered by the smallcb project from Couchbase Labs
  </div>
</body>
</html>
