<!doctype html>
<html>
<head>
  <title>Couchbase Playground</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&Ubuntu+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles/site.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/icons.css">
{{/*  <link rel="stylesheet" type="text/css" href="/static/styles/simple-grid.min.css">*/}}
  <link rel="stylesheet" type="text/css" href="/static/styles/flexboxgrid.min.css">

  <style>
    {{if not .Session}}
    body .needs-session {
      display: none !important;
    }
    {{end}}
  </style>
  {{.OptanonHTML}}
  {{.AnalyticsHTML}}
</head>
<body class="{{.BodyClass}}">
  <header>
    <div class="logo">
      <a href="/{{if .Session}}?s={{.Session.SessionId}}{{end}}">
        <h1><img src="/static/cb.png"/>Couchbase Playground</h1>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          {{if .Session}}
            <a href="/session-exit?s={{.Session.SessionId}}"
               onclick="localStorage.setItem('infoPanel', 'show');" class="session">
              stop playground session
            </a>

          {{else}}
            <a href="/session">
              start playground session
            </a>
          {{end}}
        </li>
        <li>
          <a target="_blank" href="https://docs.couchbase.com">docs</a>
        </li>
        <li>
          <a target="_blank" href="https://www.couchbase.com">couchbase.com</a>
        </li>
      </ul>
    </nav>
  </header>

  <main id="main">
    {{if .Session}}
      <div class="info-header">
        <div class="header-left">
          <a onclick="toggleInfoPanel();"><span id="toggleIcon" class="chevron down"></span></a>
        </div>
        <div class="header-right">
          <div>
            <span class="head-server">Your Couchbase instance:</span>
            <code><a href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}"
                     target="_blank">http://{{.Host}}:8091</a>
            </code>
            <span class="head-user">username:</span> <code>{{.Session.CBUser}}</code>
            <span class="head-pass">password:</span> <code>{{.Session.CBPswd}}</code>
          </div>
        </div>
      </div>
    {{end}}

    <div class="info-panel" id="infoPanel">
      {{if .Msg}}
        <div class="message-info">{{.Msg}}</div>
      {{end}}

      {{if .Session}}
      <div class="session-info">
        <div>
          Your playground session will end after {{.SessionsMaxAge}}
          or until there's {{.SessionsMaxIdle}} of inactivity.
        </div>
        <div class="shots">
          <a target="_blank"
             href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}&playgTour=welcome"
             class="start-here">
            <u>Guided Tour</u>
            <div><br/><b><center><u><code>start here</code></u></center></b></div>
          </a>
          <a target="_blank"
             href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}">
            <u>Dashboard</u>
            <div><img src="/static/shots/shot-dashboard.png"/></div>
          </a>
          <a target="_blank"
             href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}#/query/workbench?query=SELECT%20%2A%20FROM%20system%3Akeyspaces">
            <u>Query Workbench</u>
            <div><img src="/static/shots/shot-query-workbench.png"/></div>
          </a>
          <a target="_blank"
             href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}#/docs/editor">
            <u>Docs Workbench</u>
            <div><img src="/static/shots/shot-documents.png"/></div>
          </a>
          {{if ge .SessionData.ContainerId 0}}
            <a target="_blank"
               href="/static/shell.html?t=http://{{.Host}}:{{.SessionData.port_1337}}">
              <u>Couchbase Shell</u>
              <div><img src="/static/shots/shot-cbsh.png"/></div>
            </a>
          {{end}}
        </div>
      </div>
      {{end}}
    </div>

    <div class="workspace" id="workspace">
      <div class="workspace-body">
        <div class="container">
          <h2 class="home-header"><label for="examplesToggle">Experiment with Code Examples</label></h2>
          <div class="row example-row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="examples/basic-java-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}" class="example-button">
                <object data="../static/icons/java.svg" width="14%" height="14%" class="example-icon"></object>
                <h3 class="example-label">Java</h3>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="examples/basic-nodejs-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}" class="example-button">
                <object data="../static/icons/nodejs.svg" width="14%" height="14%" class="example-icon"></object>
                <h3 class="example-label">Node.js</h3>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="examples/basic-py-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}" class="example-button">
                <object data="../static/icons/python.svg" width="14%" height="14%" class="example-icon"></object>
                <h3 class="example-label">Python</h3>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="examples/basic-dotnet-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}" class="example-button">
                <object data="../static/icons/dotnet.svg" width="14%" height="14%" class="example-icon"></object>
                <h3 class="example-label">.NET</h3>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="examples/basic-php-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}" class="example-button">
                <object data="../static/icons/php.svg" width="14%" height="14%" class="example-icon"></object>
                <h3 class="example-label">PHP</h3>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="examples/basic-ruby-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}" class="example-button">
                <object data="../static/icons/ruby.svg" width="14%" height="14%" class="example-icon"></object>
                <h3 class="example-label">Ruby</h3>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="examples/basic-scala-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}" class="example-button">
                <object data="../static/icons/scala.svg" width="14%" height="14%" class="example-icon"></object>
                <h3 class="example-label">Scala</h3>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="examples/basic-go-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}" class="example-button">
                <object data="../static/icons/golang.svg" width="14%" height="14%" class="example-icon"></object>
                <h3 class="example-label">Go</h3>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="examples/basic-cc-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}" class="example-button">
                <object data="../static/icons/cc.svg" width="14%" height="14%" class="example-icon"></object>
                <h3 class="example-label">C++</h3>
              </a>
            </div>
          </div>

          <div class="code-editor start-session-home">
            <div class="sticky">

              <form action="/run" method="post" target="output" id="form">
                {{if or .Name .Lang .Code}}
                <input name="color" type="hidden" value="#FFF"/>
              </form>
              {{else}}
              <div class="no-session">
                <h2 class="home-header">Try Couchbase in an Online Playground</h2>
              </div>
              <div class="empty-example-frame">
                <div class="info-frame session-cta">
                  {{if not .Session}}
                    <div style="padding-left: 1rem">
                      <a href="/session" class="nowrap example-button">
                        <img src="/static/shots/shot-documents.png"/>
                        <h3>Start Playground Session</h3>
                      </a>
                    </div>
                  {{end}}
                </div>
              </div>
              {{end}}
            </div>
          </div>


          <div class="code-output hidden" id="code-output">
            <div class="sticky">
              {{if or .Name .Lang .Code}}
                <h2>Output</h2>
                <iframe name="output" id="output" class="output"></iframe>
              {{end}}
            </div>
          </div>
      </div>
    </div>
  </main>

  <footer>
    <div>© 2021 Couchbase Labs -
      <span class="ver">Couchbase Server {{.Version}}</span>
      {{range $v := .VersionSDKs}}
        <span class="ver-sdk">{{$v.name}} SDK: {{$v.ver}}</span>
      {{end}}
    </div>
  </footer>

  {{if .Session}}
    <script src="/static/scripts/infoPanel.js"></script>
  {{end}}

  <script>
    var scrollTop = parseInt(localStorage.getItem('scrollTop')) || 0;
    if (scrollTop > 0) {
      document.scrollingElement.scrollTo(0, scrollTop);
    }

    window.addEventListener('unload', function() {
      localStorage.setItem('scrollTop', document.scrollingElement.scrollTop || 0);
    });
  </script>

  <script>
    function pageToggle(page) {
      var main = document.getElementById("main");

      var wasPageFocused = main.className.indexOf("page-focus") >= 0;

      if (main.className != page + " page-focus") {
        main.className = page + " page-focus";
        localStorage.setItem('page', page);

	return true;
      }

      main.className = "";
      localStorage.setItem('page', '');

      return false;
    }

    var page = localStorage.getItem('page');
    if (page) {
      pageToggle(page);
    }
  </script>

  <script>
    var otfixN = 0;

    function otfix() {
      var el = document.getElementsByClassName("onetrust-pc-dark-filter").item(0);
      if (el != null) {
        el.style = "z-index: -1;";
      } else if (otfixN < 100) {
        otfixN += 1;

        setTimeout(otfix, 100);
      }
    }

    otfix();
  </script>
</body>
</html>
