<!doctype html>
<html>
<head>
  <title>Couchbase Playground</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&Ubuntu+Mono&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles/site.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/icons.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/flexboxgrid.min.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/progress-wizard.min.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/font-awesome/css/font-awesome.min.css">

  <!-- Development CDN -- Switch for PROD -->
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

  <script src="../static/scripts/menu.js"></script>
  <script src="../static/scripts/editorToggle.js"></script>
  <script src="../static/scripts/browserCompatibility.js"></script>
  <script src="../static/scripts/feedback.js"></script>

  <!-- Primary Meta Tags -->
  <title>Couchbase Playground</title>
  <meta name="title" content="Couchbase Playground">
  <meta name="description" content="Experiment with Couchbase in a playground environment with no prior setup required!">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/jpg" href="../static/cb.png"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://couchbase.live/">
  <meta property="og:title" content="Couchbase Playground">
  <meta property="og:description" content="Experiment with Couchbase in a playground environment with no prior setup required!">
  <meta property="og:image:secure_url" content="https://couchbase.live/static/shots/shot_thumbnail.png">
  <meta property="og:image" content="http://dev.couchbase.live/static/shots/shot_thumbnail.png">
  <meta property="og:image" content="http://beta.couchbase.live/static/shots/shot_thumbnail.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="http://couchbase.live/">
  <meta property="twitter:title" content="Couchbase Playground">
  <meta property="twitter:description" content="Experiment with Couchbase in a playground environment with no prior setup required!">
  <meta property="twitter:image:secure_url" content="https://couchbase.live/static/shots/shot_thumbnail.png">
  <meta property="twitter:image" content="http://dev.couchbase.live/static/shots/shot_thumbnail.png">
  <meta property="twitter:image" content="http://beta.couchbase.live/static/shots/shot_thumbnail.png">


  <style>
    {{if not .Session}}
    body .needs-session {
        display: none !important;
    }

    {{end}}
  </style>
    {{.OptanonHTML}}
  <script src="/static/ace/src-min/ace.js"></script>
  <script src="/static/ace/src-min/theme-nord_dark.js"></script>
  <script>
    function onRunSubmit() {
      setTimeout(() => {
        document.getElementById("output").scrollIntoView({behavior: "smooth"});
      }, 100)
      updateRunButtonState();

      document.getElementById("form").className = "run-submitted";

      document.getElementById("code").value = codeAce.getSession().getValue();

      document.getElementsByTagName("body")[0].style.color = "#fff";

      var steps = ["waiting for container", "preparing container"];

      var lang = document.getElementById("lang").value;
      if (lang == "java" || lang == "dotnet" || lang == "scala") {
        steps.push("compiling code");
      }

      steps.push("running");

      function stepHTML(x) {
        var s = "";
        for (var i = 0; i <= x; i++) {
          s = s + '<div style="color:white">' + steps[i] + '...</div>';
        }
        return s;
      }

      var outputBody = document.getElementById("output").contentDocument.body;

      function stepNext(x) {
        if (x >= steps.length) {
          return;
        }

        outputBody.innerHTML = stepHTML(x);

        setTimeout(function () {
          if (outputBody.innerHTML == stepHTML(x)) {
            stepNext(x + 1);
          }

          document.getElementById("form").className = "";
        }, (x + 1) * 3000);
      }

      stepNext(0);

      document.getElementById("code-output").classList.add("code-output");
      document.getElementById("code-output").classList.remove("hidden");

      return true;
    }
  </script>
  {{if .Lang}}
  <script>
    let initPage = () => {
      setEditorView()
      disableSafariButtons()
      handleFeedbackForm({{if .FeedbackUrl}}{{.FeedbackUrl}}{{else}}'https://devportal-api.prod.couchbase.live/pageLikes'{{end}})
    }
  </script>
  {{else}}
  <script>
    let initPage = () => {
      disableSafariButtons()
      handleFeedbackForm({{if .FeedbackUrl}}{{.FeedbackUrl}}{{else}}'https://devportal-api.prod.couchbase.live/pageLikes'{{end}})
    }
  </script>
  {{end}}
  <script>
    window.scrollTo({top: 0, behavior: "smooth"})
    addEventListener('load', initPage)
  </script>
{{/*    TODO: look into how AnalyticsHTML works and see if we can do this for the nav too  */}}
    {{.AnalyticsHTML}}
</head>
<body class="{{.BodyClass}}">
<header>
  <div class="header-flex-container">
    <div class="logo">
      <h1>
        <a href="https://www.couchbase.com/">
          <img src="/static/cb-rww.svg" class="hidden-xs"/>
          <img src="/static/cb.png" class="hidden-sm hidden-lg"/>
        </a>
        <a href="//{{if .BaseUrl}}{{.BaseUrl}}{{else}}couchbase.live{{end}}{{if and (.Session)}}/session-exit?s={{.Session.SessionId}}{{ else if and (.Target.DBurl) (not .Session)}}/target-exit{{end}}" id="homeLink">
          Playground
        </a>
      </h1>
    </div>

    <nav>
      <ul>
        <li class="dropdown">
            {{if and (.Session) (not .Target.DBurl)}}
              <a href="/session-exit?s={{.Session.SessionId}}"
                 onclick="localStorage.setItem('infoPanel', 'show');" class="session menu-button red-button" id="stopSessionButton">
                Stop Sandbox Session
              </a>
            {{ else if .Target.DBurl}}
              {{if .Session}}
                <a href="/target-exit?s={{.Session.SessionId}}"
              {{else}}
                <a href="/target-exit"
              {{end}}
                 onclick="localStorage.setItem('infoPanel', 'show');" class="session menu-button red-button" id="stopCapellaSessionButton">
                Stop Capella Session
              </a>
            {{else if not .Target.DBurl}}
              <a href="#" class="menu-button red-button cursor-default" id="startSessionButtonMenu">
                Start a Session
                &nbsp
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-content">
                <li>
                  <a href="/session" id="provisionedDropdownButton">
                    <i class="fa fa-server" aria-hidden="true"></i>
                    &nbsp
                    Sandbox
                  </a>
                </li>
                <li>
                  <a href="/target" id="capellaDropdownButton">
                    <i class="fa fa-cloud" aria-hidden="true"></i>
                    &nbsp
                    Capella
                  </a>
                </li>
              </ul>
            {{end}}
        </li>
      </ul>
    </nav>
  </div>

  <div class="subheader-container">
    {{if .Target.DBurl}}
    <div class="greeting">
      Hello, {{.Target.Name}}
    </div>
    {{else if .Session}}
      <div class="greeting">
        Hello, {{.Session.Name}}
      </div>
    {{end}}
    <ul id="secondaryNav">
      {{if not .Target.DBurl}}
      <li>
        <a target="_blank" href="https://cloud.couchbase.com?href=Playground">Capella Trial</a>
      </li>
      {{end}}
      <li>
        <a target="_blank" href="https://docs.couchbase.com">Documentation</a>
      </li>
      <li>
        <a target="_blank" href="https://developer.couchbase.com">Developers</a>
      </li>
      {{if .Lang}}
      <li>
        <a href="/{{if .Session}}?s={{.Session.SessionId}}{{end}}">
          <svg class="hidden-mobile" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="14" height="14"
               viewBox="0 -3 25 25"
               style=" fill:#ffffff;">
            <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
          </svg>
          <span class="hidden-mobile">
            &nbsp
          </span>
          Return to SDKs
          <span class="hidden-lg">
            &nbsp
          </span>
          <svg class="hidden-lg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="14" height="14"
               viewBox="0 -3 25 25"
               style=" fill:#ffffff;">
            <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
          </svg>
        </a>
      </li>
      {{end}}

    </ul>

    <span id="menuToggle" onclick="handleMenuToggle()">
      <svg id="hamburgerIcon" fill="#fff" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 18v1h-24v-1h24zm0-6v1h-24v-1h24zm0-6v1h-24v-1h24z" fill="#1040e2"/><path d="M24 19h-24v-1h24v1zm0-6h-24v-1h24v1zm0-6h-24v-1h24v1z"/></svg>
      <svg id="exitIcon" class="hidden" fill="#fff" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg>
    </span>
  </div>

</header>

<main id="main">
    {{if .Target.DBurl}}
      <div class="info-header info-header-capella">
        <div class="header-right">
          <div>
            <span class="head-server">Your Couchbase:</span>
            <span class="head-user">url:</span> <code>{{.Target.DBHost}}</code>
            <span class="head-user">host:</span> <code>{{.Target.DBSrvHost}}</code>
            <span class="head-user">ip:</span> <code>{{.Target.IPv4}}</code>
            {{if eq .Target.Status "OK"}}
              <span class="head-user">version:</span> <code>{{.Target.Version}}</code>
              <span class="head-user"><strong>status:</strong></span> <code style="color: green; font-weight: bold">{{.Target.Status}}</code>
            {{else}}
              <span class="head-user">status:</span> <code style="color: red; font-weight: bold">{{.Target.Status}}</code>
              <span class="head-user">network:</span>
              {{if eq .Target.NetworkStatus "OK"}}
                <code style="color: green">{{.Target.NetworkStatus}}</code>
                <span class="head-user">user:</span>
                {{if eq .Target.UserAccessStatus "OK"}}
                  <code style="color: green">{{.Target.UserAccessStatus}}</code>
                  <span class="head-user">travel-sample:</span>
                  {{if eq .Target.SampleAccessStatus "OK"}}
                    <code style="color: green">{{.Target.SampleAccessStatus}}</code>
                  {{else}}
                    <code style="color: red">{{.Target.SampleAccessStatus}}</code>
                    <span class="head-user">-->Check travel-sample import in Capella UI</span>
                  {{end}}
                {{else}}
                  <code style="color: red">{{.Target.UserAccessStatus}}</code>
                  <span class="head-user">-->Check db user credentials</span>
                {{end}}
              {{else}}
                <code style="color: red">{{.Target.NetworkStatus}}</code>
                <span class="head-user">-->add playground gateway cidr:</span><code>
                  {{if eq .Target.NatPublicIP "YourHostIP"}}
                    <a target="_blank" href="http://www.whatismyipaddress.com">{{.Target.NatPublicIP}}</a>
                  {{else}}
                    {{.Target.NatPublicIP}}
                  {{end}}/32 (to your cluster allowlist from Capella UI)</code>
              {{end}}
            {{end}}

          </div>
        </div>
      </div>
      <div class="info-header info-header-capella">
          <div class="header-right">
            <span class="head-server">Your playground Capella session will expire after </span>
            <code> {{.Target.ExpiryTime}}</code>

          </div>
      </div>
    {{end}}

    {{if .Session}}
      {{if not .Target.DBurl}}
        <div class="info-header">
          <div class="header-left">
            <a onclick="toggleInfoPanel();"><span id="toggleIcon" class="chevron down"></span></a>
          </div>
          <div class="header-right">
            <div>
              <span class="head-server">Your Couchbase instance:</span>
              <code><a href="{{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_8091}}/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}"
                      target="_blank">http://{{.Host}}:{{.SessionData.port_8091}}</a>
              </code>
              <span class="head-user">username:</span> <code>{{.Session.CBUser}}</code>
              <span class="head-pass">password:</span> <code>*****</code>
            </div>
          </div>
        </div>
      {{end}}
    {{end}}
  <div class="info-panel" id="infoPanel">
      {{if and (.Msg) (not .Target.DBurl)}}
        <div class="message-info">{{.Msg}}</div>
      {{end}}

      {{if .Session}}
       {{if not .Target.DBurl}}
        <div class="session-info">
          <div>
            This sandbox session ends after {{.SessionsMaxAge}}
            or {{.SessionsMaxIdle}} of inactivity. Alternatively, you can get a free 30-day trial of Couchbase Capella <a href="https://cloud.couchbase.com?href=Playground" target="_blank">here</a>.
            <br>
            <br>
            <strong>WARNING: Upon expiration, all data stored in this Couchbase instance will be lost.</strong>
          </div>
          <div class="shots">
            <a target="_blank"
               href="{{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_8091}}/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}&playgTour=welcome"
               class="start-here">
              <u>Guided Tour</u>
              <div><br/><b>
                  <center><u><code>start here</code></u></center>
                </b></div>
            </a>
            <a target="_blank"
               href="{{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_8091}}/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}">
              <u>Dashboard</u>
              <div><img src="/static/shots/shot-dashboard.png"/></div>
            </a>
            <a target="_blank"
               href="{{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_8091}}/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}#/query/workbench?query=SELECT%20%2A%20FROM%20system%3Akeyspaces">
              <u>Query Workbench</u>
              <div><img src="/static/shots/shot-query-workbench.png"/></div>
            </a>
            <a target="_blank"
               href="{{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_8091}}/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}#/docs/editor">
              <u>Docs Workbench</u>
              <div><img src="/static/shots/shot-documents.png"/></div>
            </a>
              {{if ge .SessionData.ContainerId 0}}
                <a target="_blank" class="disabled-safari disabled-ios" id="shellBtn"
                   href="/static/shell.html?t={{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_1337}}">
                  <u>Couchbase Shell</u>
                  <div><img src="/static/shots/shot-cbsh.png"/></div>
                </a>
                <a target="_blank" class="disabled-safari disabled-ios"
                   href="/static/shell-cbq.html?t={{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_1338}}">
                  <u>Query Tool</u>
                  <div><img src="/static/shots/shot-cbq.png"/></div>
                </a>
                <a target="_blank" class="disabled-safari disabled-ios"
                   href="/static/shell-terminal.html?t={{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_1339}}?connectstr={{.SessionData.CBUser}},couchbases://{{.Host}}:11207/travel-sample?ssl=no_verify">
                  <u>CLI Tools</u>
                  <div><img src="/static/shots/shot-terminal.png"/></div>
                </a>
                <p id="iosCompatNotice" class="hidden"><em>Note:</em> Couchbase Shell and Query Shell are not currently supported on mobile devices. Please use a different device to access these features.</p>
              {{end}}
          </div>
        </div>

        {{end}}
      {{end}}
  </div>

  <div class="workspace" id="workspace">
    <div class="workspace-body">
      <div class="container {{if .Lang}}container-example{{end}}">
          {{if not .Lang}}
            {{if and (not .Target.DBurl) (not .Session)}}
              <p class="intro-paragraph">
                Welcome to Couchbase Playground. Here are a few things you can do:
                <ul>
                  <li><strong>Basic:</strong> Run language-specific code examples below.</li>
                  <li><strong>Sandbox Session:</strong> Start a 30 minute session. Explore the web console, take a guided tour, and experiment with your own cluster.</li>
                  <li><strong>Capella Session:</strong> Get a 30 day free trial. Connect it to the playground, try sample code, explore tools and free data sets.</li>
                </ul>
              </p>
            {{end}}


            <h2 class="home-header"><label for="examplesToggle">Basic: Click Below to Run Examples in your Browser</label></h2>
            <div class="row example-row">
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="/examples/basic-java-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}"
                   class="example-button" onclick="return pageToggle('page-01')">
                  <object data="../static/icons/java.svg" width="14%" height="14%" class="example-icon"></object>
                  <h3 class="example-label">Java</h3>
                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="/examples/basic-nodejs-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}"
                   class="example-button" onclick="return pageToggle('page-03')">
                  <object data="../static/icons/nodejs.svg" width="14%" height="14%" class="example-icon"></object>
                  <h3 class="example-label hidden-xs">Node.js</h3>
                  <h3 class="example-label hidden-sm hidden-lg">Node</h3>
                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="/examples/basic-py-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}"
                   class="example-button"
                   onclick="return pageToggle('page-04')">
                  <object data="../static/icons/python.svg" width="14%" height="14%" class="example-icon"></object>
                  <h3 class="example-label">Python</h3>
                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="/examples/basic-dotnet-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}"
                   class="example-button" onclick="return pageToggle('page-05')">
                  <object data="../static/icons/dotnet.svg" width="14%" height="14%" class="example-icon"></object>
                  <h3 class="example-label">.NET</h3>
                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="/examples/basic-php-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}"
                   class="example-button"
                   onclick="return pageToggle('page-06')">
                  <object data="../static/icons/php.svg" width="14%" height="14%" class="example-icon"></object>
                  <h3 class="example-label">PHP</h3>
                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="/examples/basic-rb-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}"
                   class="example-button" onclick="return pageToggle('page-07')">
                  <object data="../static/icons/ruby.svg" width="14%" height="14%" class="example-icon"></object>
                  <h3 class="example-label">Ruby</h3>
                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="/examples/basic-scala-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}"
                   class="example-button" onclick="return pageToggle('page-08')">
                  <object data="../static/icons/scala.svg" width="14%" height="14%" class="example-icon"></object>
                  <h3 class="example-label">Scala</h3>
                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="/examples/basic-go-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}"
                   class="example-button"
                   onclick="return pageToggle('page-09')">
                  <object data="../static/icons/golang.svg" width="14%" height="14%" class="example-icon"></object>
                  <h3 class="example-label">Go</h3>
                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="/examples/basic-cc-kv-get{{if $.Session}}?s={{$.Session.SessionId}}{{end}}"
                   class="example-button"
                   onclick="return pageToggle('page-10')">
                  <object data="../static/icons/cc.svg" width="14%" height="14%" class="example-icon"></object>
                  <h3 class="example-label">C++</h3>
                </a>
              </div>
            </div>

          {{if and (not .Session) (not .Target.DBurl)}}
              <br>
              <hr>
              <br>
              <div class="row example-row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <a href="/session"
                     class="mode-button example-button red-button" onclick="" id="provisionedDropdownButtonTop">
                    <h3 class="example-label">Sandbox Session</h3>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <a href="/target"
                     class="mode-button example-button red-button" onclick="" id="capellaDropdownButtonTop">
                    <h3 class="example-label">Capella Session</h3>
                  </a>
                </div>
              </div>
              <br>
              <hr>

          {{end}}

          {{end}}
          {{if and .Lang .Title}}
            <div class="progress-wrapper">
              <ul class="progress-indicator">
                  {{/* Determine If KV Get Completed */}}
                  {{if or (eq .Title "Key Value Get") (eq .Title "Query Rows") (eq .Title "Query w/ Named Param") (eq .Title "Query w/ Positional Param") (eq .Title "Sub-document Lookup") (eq .Title "Sub-document Mutate") (eq .Title "Transactions KV Mutate") (eq .Title "Transactions N1QL") (eq .Title "Upsert") (eq .Title "Search Query String") (eq .Title "Next Steps")}}
                    <li class="completed">
                      <a href="/examples/basic-{{.Lang}}-kv-get{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Key Value Get
                      </a>
                    </li>
                  {{else}}
                    <li>
                      <a href="/examples/basic-{{.Lang}}-kv-get{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Key Value Get
                      </a>
                    </li>
                  {{end}}

                  {{/* Determine If Query Rows Completed */}}
                  {{if or (eq .Title "Query Rows") (eq .Title "Query w/ Named Param") (eq .Title "Query w/ Positional Param") (eq .Title "Sub-document Lookup") (eq .Title "Sub-document Mutate") (eq .Title "Transactions KV Mutate") (eq .Title "Transactions N1QL") (eq .Title "Upsert") (eq .Title "Search Query String") (eq .Title "Next Steps")}}
                    <li class="completed">
                      <a href="/examples/basic-{{.Lang}}-query-rows{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Query Rows
                      </a>
                    </li>
                  {{else}}
                    <li>
                      <a href="/examples/basic-{{.Lang}}-query-rows{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Query Rows
                      </a>
                    </li>
                  {{end}}

                  {{/* Determine If Query w/ Named Param Completed */}}
                  {{if or (eq .Title "Query w/ Named Param") (eq .Title "Query w/ Positional Param") (eq .Title "Sub-document Lookup") (eq .Title "Sub-document Mutate") (eq .Title "Transactions KV Mutate") (eq .Title "Transactions N1QL") (eq .Title "Upsert") (eq .Title "Search Query String") (eq .Title "Next Steps")}}
                    <li class="completed">
                      <a href="/examples/basic-{{.Lang}}-query-named-param{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Query w/ Named Param
                      </a>
                    </li>
                  {{else}}
                    <li>
                      <a href="/examples/basic-{{.Lang}}-query-named-param{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Query w/ Named Param
                      </a>
                    </li>
                  {{end}}

                  {{/* Determine If Query w/ Positional Param Completed */}}
                  {{if or (eq .Title "Query w/ Positional Param") (eq .Title "Sub-document Lookup") (eq .Title "Sub-document Mutate") (eq .Title "Transactions KV Mutate") (eq .Title "Transactions N1QL") (eq .Title "Upsert")  (eq .Title "Search Query String") (eq .Title "Next Steps")}}
                    <li class="completed">
                      <a href="/examples/basic-{{.Lang}}-query-positional-param{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Query w/ Positional Param
                      </a>
                    </li>
                  {{else}}
                    <li>
                      <a href="/examples/basic-{{.Lang}}-query-positional-param{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Query w/ Positional Param
                      </a>
                    </li>
                  {{end}}

                  {{/* Determine If Sub Document Lookup Completed */}}
                  {{if or (eq .Title "Sub-document Lookup") (eq .Title "Sub-document Mutate") (eq .Title "Transactions KV Mutate") (eq .Title "Transactions N1QL") (eq .Title "Upsert") (eq .Title "Search Query String") (eq .Title "Next Steps")}}
                    <li class="completed">
                      <a href="/examples/basic-{{.Lang}}-subdoc-lookup{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Sub-Document Lookup
                      </a>
                    </li>
                  {{else}}
                    <li>
                      <a href="/examples/basic-{{.Lang}}-subdoc-lookup{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Sub-Document Lookup
                      </a>
                    </li>
                  {{end}}

                  {{/* Determine If Sub Document Mutate Completed */}}
                  {{if or (eq .Title "Sub-document Mutate") (eq .Title "Transactions KV Mutate") (eq .Title "Transactions N1QL") (eq .Title "Upsert") (eq .Title "Search Query String") (eq .Title "Next Steps")}}
                    <li class="completed">
                      <a href="/examples/basic-{{.Lang}}-subdoc-mutate{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Sub-Document Mutate
                      </a>
                    </li>
                  {{else}}
                    <li>
                      <a href="/examples/basic-{{.Lang}}-subdoc-mutate{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Sub-Document Mutate
                      </a>
                    </li>
                  {{end}}

                  {{/* Show/Hide Java Transactions Steps */}}
                  {{if eq .Lang "java"}}
                      {{/* Determine If JAVA Transactions KV Mutate Completed */}}
                      {{if or (eq .Title "Transactions KV Mutate") (eq .Title "Transactions N1QL") (eq .Title "Upsert") (eq .Title "Search Query String") (eq .Title "Next Steps")}}
                        <li class="completed">
                          <a href="/examples/basic-{{.Lang}}-txn-kv-mutate{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                            <span class="bubble"></span>
                            Transactions KV Mutate
                          </a>
                        </li>
                      {{else}}
                        <li>
                          <a href="/examples/basic-{{.Lang}}-txn-kv-mutate{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                            <span class="bubble"></span>
                            Transactions KV Mutate
                          </a>
                        </li>
                      {{end}}

                      {{/* Determine If JAVA Transactions N1QL Completed */}}
                      {{if or (eq .Title "Transactions N1QL") (eq .Title "Upsert") (eq .Title "Search Query String") (eq .Title "Next Steps")}}
                        <li class="completed">
                          <a href="/examples/basic-{{.Lang}}-txn-n1ql{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                            <span class="bubble"></span>
                            Transactions N1QL
                          </a>
                        </li>
                      {{else}}
                        <li>
                          <a href="/examples/basic-{{.Lang}}-txn-n1ql{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                            <span class="bubble"></span>
                            Transactions N1QL
                          </a>
                        </li>
                      {{end}}
                  {{end}}


                  {{/* Determine If Upsert Completed */}}
                  {{if or (eq .Title "Upsert") (eq .Title "Search Query String") (eq .Title "Next Steps")}}
                    <li class="completed">
                      <a href="/examples/basic-{{.Lang}}-upsert{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Upsert
                      </a>
                    </li>
                  {{else}}
                    <li>
                      <a href="/examples/basic-{{.Lang}}-upsert{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Upsert
                      </a>
                    </li>
                  {{end}}


                  {{/* Determine If Search Query String Completed */}}
                  {{if or (eq .Title "Search Query String") (eq .Title "Next Steps")}}
                    <li class="completed">
                      <a href="/examples/basic-{{.Lang}}-search-query-string{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Search Query String
                      </a>
                    </li>
                  {{else}}
                    <li>
                      <a href="/examples/basic-{{.Lang}}-search-query-string{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Search Query String
                      </a>
                    </li>
                  {{end}}

                  {{/* Determine If Next Steps Completed */}}
                  {{if (eq .Title "Next Steps")}}
                    <li class="completed">
                      <a href="/examples/basic-{{.Lang}}-next-steps{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Next Steps
                      </a>
                    </li>
                  {{else}}
                    <li>
                      <a href="/examples/basic-{{.Lang}}-next-steps{{if .Session}}?s={{.Session.SessionId}}{{end}}">
                        <span class="bubble"></span>
                        Next Steps
                      </a>
                    </li>
                  {{end}}

              </ul>
            </div>
          {{end}}

        <div class="row example-row" style="width: 100%">
            {{if and .Lang .Title}}
              <div class="col-xs-12 {{if ne .Code "NONE"}}col-md-3 example-info-column-right-border{{else}}col-md-12{{end}} example-info-column" id="infoColumn">
                <div class="example-heading">
                    {{if .InfoBefore}}
                      <div class="info infoBefore">{{.InfoBefore}}</div>
                    {{end}}

                  <h2 class="example-title">
                      {{if .Lang}}
                          {{if ne .Lang "NONE"}}
                            <span class="lang">{{or .LangPretty .Lang}} - </span>
                          {{end}}
                      {{end}}
                      {{if .Title}}{{.Title}}{{else}}Playground Editor{{end}}
                  </h2>
                </div>

                  {{if .InfoAfter}}
                    <div class="info infoAfter">{{.InfoAfter}}</div>
                  {{end}}

                  <br>
                  {{if ne .Code "NONE"}}
                  <em>To run this example, click the button in the top right corner of the code editor.</em>
                  {{end}}
              </div>
            {{end}}
            {{if .Lang}}
              {{if ne .Code "NONE"}}
                <div class="col-xs-12 col-md-9" id="editorColumn">

                  <button id='viewToggleButton' class="stacked-btn toggle-btn hidden-md" onclick="toggleEditorView();"></button>

                    <div id="editorWrapper" class="row">

                      <div id="editorDiv" class="code-editor col-md-6">
                        <div class="sticky">
                          <form action="/run" method="post" target="output" id="form">

                              {{if or .Name .Lang .Code}}
                              {{if ne .Code "NONE"}}
                                <h2 class="editor-label">Code Editor</h2>
                                <input type="submit" value="Run Now &nbsp &gt&gt;" class="run" id="run"
                                       onclick="return onRunSubmit()"/>
                              {{end}}
                            <div class="example-frame">

                                {{if .Session}}
                                  <input name="s" type="hidden" value="{{.Session.SessionId}}"/>
                                {{end}}

                              <input name="lang" type="hidden" value="{{.Lang}}" id="lang"/>

                                {{if ne .Code "NONE"}}
                                  <div id="code-ace" class="code-ace"></div>

                                  <textarea id="code" name="code" class="code"
                                            wrap="off" autocorrect="off"
                                            autocomplete="off" autocapitalize="off"
                                            spellcheck="false">{{.Code}}</textarea>
                                {{end}}
                            </div>

                            <input name="color" type="hidden" value="#FFF"/>
                          </form>
                            {{end}}
                        </div>
                      </div>

                      <div class="code-output col-md-6" id="code-output">
                        <div class="sticky">
                            {{if or .Name .Lang .Code}}
                              <h2 class="editor-label">Output</h2>
                              <iframe name="output" id="output" class="output" onload="setOutputHeight()"></iframe>
                            {{end}}
                        </div>
                      </div>
                    </div>
                </div>
              {{end}}
            {{end}}


        </div>
          <div class="online-tools">
            {{if .Target.DBurl}}
              <h2 class="home-header hidden-ios">Explore interactive shell</h2>
            {{end}}
              {{if and (not .Session) (.Target.DBurl)}}
                  <a href="/session-cbshell" {{if eq .Target.Status "not accessible"}}class="disabled"{{end}} class="nowrap disabled-safari hidden-ios">
                    <u>Couchbase Shell</u></a>
                  <a href="/session-cbshell?open=clitools" {{if eq .Target.Status "not accessible"}}class="disabled"{{end}} class="nowrap disabled-safari hidden-ios" onclick="localStorage.setItem('cbshell_type', 'clitools');">
                    <u>CLI Tools Terminal</u></a>
                  <script>
                    localStorage.setItem("cbshell_window", "closed");
                    localStorage.setItem("clitools_window", "closed");
                  </script>
              {{else if and (.Target.DBurl) (ge .SessionData.ContainerId 0)}}
                <script>
                  var cbshell_type = localStorage.getItem('cbshell_type');
                  var iscbshell_open = localStorage.getItem("cbshell_window");
                  if (iscbshell_open != "opened") {
                    if (cbshell_type == "clitools") {
                      open_url = "/static/shell-terminal.html?t={{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_1339}}?connectstr={{.Target.DBuser}},couchbases://{{.Target.DBSrvHost}}:11207/travel-sample?ssl=no_verify";
                    } else {
                      open_url = "/static/shell.html?t={{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_1337}}"
                    }
                    var cbshell_newTab = window.open(open_url, '_blank');
                    if (cbshell_newTab == null) {
                      alert("Please allow pop-ups and redirects from this site");
                    }
                    localStorage.setItem("cbshell_window", "opened");
                    localStorage.removeItem('cbshell_type');
                  }
                </script>

                <p><a target="_blank"
                  href="/static/shell.html?t={{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_1337}}" class="nowrap disabled-safari hidden-ios">
                    <u>Couchbase Shell</u></a> (opens a new tab and the session expire after {{.SessionsMaxAge}}
                or until {{.SessionsMaxIdle}} of inactivity.)</p>
                <p><a target="_blank"
                  href="/static/shell-terminal.html?t={{.SessionData.scheme}}://{{.Host}}:{{.SessionData.port_1339}}?connectstr={{.Target.DBuser}},couchbases://{{.Target.DBSrvHost}}:11207/travel-sample?ssl=no_verify" class="nowrap disabled-safari hidden-ios">
                    <u>CLI Tools Terminal</u></a> (opens a new tab and the session expire after {{.SessionsMaxAge}}
                or until {{.SessionsMaxIdle}} of inactivity.)</p>
                <script>
                  localStorage.setItem("cbshell_window", "opened");
                </script>
              {{else}}
                <script>
                  localStorage.setItem("cbshell_window", "closed");
                </script>

              {{end}}

          </div>
          {{if not .Lang}}
            <div class="online-tools">
              <h2 class="home-header">More N1QL Tools</h2>
              <div class="n1ql-link-wrapper">
                <a href="https://query-tutorial.couchbase.com/tutorial/#1" class="nowrap" target="_blank">Query Tutorial</a>
                <a href="https://index-advisor.couchbase.com/indexadvisor/#1" class="nowrap" target="_blank">Index Advisor</a>
                <a href="https://sqlplusplus-tutorial.couchbase.com/tutorial/#1" class="nowrap" target="_blank">Analytics Tutorial</a>
                <a href="https://docs.couchbase.com/server/current/n1ql/n1ql-rest-api/index.html" class="nowrap" target="_blank">REST API Docs</a>
              </div>
            </div>
          {{end}}
        {{if not .Lang}}
        <br>
        <br>
        <hr>
        <div class="next-steps">
          <h2 class="home-header">Next Steps</h2>
          <strong>Capella</strong>
          <div class="step-section">
            Learn more about <a target="_blank" href="https://www.couchbase.com/products/capella">Couchbase Capella</a>, our database-as-a-service offering:
            <ul>
              <li>
                Sign up for a <a target="_blank" href="https://cloud.couchbase.com?href=Playground">free 30-day trial</a> if you haven't already.
              </li>
              <li>
                <a target="_blank" href="https://couchbase.live/target">Connect your trial cluster to the Playground</a> or connect a project to really test it out for yourself.
              </li>
              <li>
                If you're already using Couchbase Capella, you can interact with your cluster by using the interactive Couchbase shell or via the Capella Control plane to:
                <ul>
                  <li>
                    check out the document viewer
                  </li>
                  <li>
                    connect to a project
                  </li>
                </ul>
              </li>
              <li>
                Take a look at the <a target="_blank" href="https://developer.couchbase.com/learn/capella">Capella Learning Path</a>!
              </li>
            </ul>
          </div>


          <strong>Tutorials</strong>
          <div class="step-section">
            The <a target="_blank" href="https://developer.couchbase.com/">Couchbase Developer Portal</a> has tons of <a target="_blank" href="https://developer.couchbase.com/tutorials">tutorials/quickstart guides</a> and <a target="_blank" href="https://developer.couchbase.com/learn">learning paths</a> to help you get started!

            <div class="tutorial-link-wrapper">
              <a target="_blank" class="nowrap" href="https://developer.couchbase.com/tutorial-quickstart-java-springboot">Couchbase with Java & Spring Data</a>
              <a target="_blank" class="nowrap" href="https://developer.couchbase.com/tutorial-java-transactions">Couchbase Transactions with Java</a>
              <a target="_blank" class="nowrap" href="https://developer.couchbase.com/tutorial-quickstart-nodejs">Couchbase with Node JS & Express</a>
              <a target="_blank" class="nowrap" href="https://developer.couchbase.com/tutorial-quickstart-nextjs">Couchbase with Next.js</a>
              <a target="_blank" class="nowrap" href="https://developer.couchbase.com/tutorial-quickstart-csharp-aspnet">Couchbase with C# & ASP.NET</a>
              <a target="_blank" class="nowrap" href="https://developer.couchbase.com/tutorial-quickstart-flask-python">Couchbase with Python & Flask</a>
            </div>
            <br>
          </div>


          <strong>Training</strong>
          <div class="step-section">
            Dive deeper into Couchbase with one of our <a target="_blank" href="https://learn.couchbase.com/store?utf8=%E2%9C%93&ss=1&ct=78327&commit=Filter">free training courses</a>.
            <br>
            The <a target="_blank" href="https://learn.couchbase.com/store/2358679-cb131-couchbase-associate-architect-certification-course-v7">Associate Architect course</a> is a great language-agnostic starting point!
            <br>
            See all training options <a target="_blank" href="https://www.couchbase.com/academy">here</a>.
          </div>
          <br>
          <a target="_blank" href="https://docs.couchbase.com/home/sdk.html">See the documentation</a> to learn more about the Couchbase SDKs.
          <br>
          <br>
          Have feedback for us? We'd love to hear from you. Use the form in the footer to send us your thoughts!
        </div>
        {{end}}
      </div>
    </div>
</main>

<footer>
  <div class="container {{if .Lang}} container-example{{end}}">
    <div class="feedback">
      <form id="feedback">
        <fieldset class="feedback-fields">
          Was this page helpful? &nbsp

          <br class="hidden-sm">
          <br class="hidden-sm">

          <label for="liked" class="feedback-radio-label"> <input class="feedback-radio" type="radio" value="true" name="liked" required/>Yes</label>
          <label for="liked" class="feedback-radio-label"> <input class="feedback-radio" type="radio" value="false" name="liked" required/>No</label>
          <input class="feedback-text" type="text" placeholder="How can we make it better?" name="message" />
          <input type="hidden" name="src_url" id="src_url" value=""/>

          <input type="submit" class="red-button menu-button submit-button"/>
        </fieldset>
      </form>
      <div id="result"></div>
    </div>
  </div>
  <hr>
  <div>© 2021 Couchbase Labs -
    <span class="ver">Couchbase Server {{.Version}}</span>
      {{range $v := .VersionSDKs}}
        <span class="ver-sdk">{{$v.name}} SDK: {{$v.ver}}</span>
      {{end}}
  </div>
</footer>

{{if .Session}}
  <script src="/static/scripts/infoPanel.js"></script>
{{end}}

{{if .Target.DBurl}}
  <script src="/static/scripts/infoPanel.js"></script>
{{end}}


<script>
  var codeAce = ace.edit("code-ace");
  codeAce.getSession().setValue(document.getElementById("code").value);
  codeAce.setTheme("ace/theme/nord_dark");
  codeAce.setOption("useWorker", false); // No syntax checking.

  {{if .LangAce}}
  codeAce.setOption("mode", "ace/mode/{{.LangAce}}");
  {{end}}

  codeAce.renderer.setScrollMargin(26, 0, 0, 0)

  let numLines = codeAce.session.doc.getAllLines().length;
  codeAce.setOptions({
    maxLines: numLines + 1
  })

  {{if .Highlight}}
  var highlight = "{{.Highlight}}";
  if (highlight) {
    var beg = highlight.split('-')[0];
    if (beg) {
      var begN = parseInt(beg) - 1; // 1-based.

      setTimeout(function () {
        codeAce.navigateTo(begN, 0);

        if (begN > 5) {
          codeAce.scrollToRow(begN - 2);
        }
      }, 100);
    }
  }
  {{end}}
</script>
<script>
  window.onbeforeunload = function() {
    window.scrollTo(0,0);
  }
</script>

<script>
{{/*  Script for Tooltips  */}}
  if (window.innerWidth >= 767) {
    tippy('#viewToggleButton', {
      content: 'Switch code editor view to 3 column',
      placement: 'top-end',
      theme: 'custom'
    });

    tippy('#provisionedDropdownButton', {
      content: 'Starting a sandbox session will allow you to explore the Couchbase Web Console and experiment with your own cluster. Gain access to more tools including a guided tour, the query workbench, documentation workbench, and the Couchbase shell.',
      placement: 'left',
      theme: 'custom'
    })

    tippy('#capellaDropdownButton', {
      content: 'Connect your Capella trial to the playground. Try sample code, explore tools, play with free data sets, and more. Don’t have a Capella cluster? Get a free 30-day trial at cloud.couchbase.com.',
      placement: 'left',
      theme: 'custom'
    })

    // Sandbox session button on home page
    tippy('#provisionedDropdownButtonTop', {
      content: 'Starting a sandbox session will allow you to explore the Couchbase Web Console and experiment with your own cluster. Gain access to more tools including a guided tour, the query workbench, documentation workbench, and the Couchbase shell.',
      placement: 'top',
      theme: 'custom'
    })

    // Capella session button on home page
    tippy('#capellaDropdownButtonTop', {
      content: 'Connect your Capella trial to the playground. Try sample code, explore tools, play with free data sets, and more. Don’t have a Capella cluster? Get a free 30-day trial at cloud.couchbase.com.',
      placement: 'top',
      theme: 'custom'
    })

    tippy('#stopSessionButton', {
      content: 'WARNING: all data created in your cluster will be deleted.',
      placement: 'bottom-end',
      theme: 'custom'
    })

    tippy('#stopCapellaSessionButton', {
      content: 'WARNING: disconnects the examples from Capella cluster. You\'ll have to re-enter the IP and credential information to reconnect.',
      placement: 'bottom-end',
      theme: 'custom'
    })
  }
</script>
{{if or (.Session) (.Target.DBurl)}}
<script>
  if (window.innerWidth >= 767) {
    tippy('#homeLink', {
      content: 'WARNING: Returning to playground home will end your current session',
      placement: 'bottom',
      theme: 'custom'
    })
  }
</script>
{{end}}
<script>
  function pageToggle(page) {
    var main = document.getElementById("main");
    main.className = "";
    var wasPageFocused = main.className.indexOf("page-focus") >= 0;

    if (main.className != page + " page-focus") {
      main.className = page + " page-focus";
      localStorage.setItem('page', page);

      return true;
    }

    main.className = "";
    localStorage.setItem('page', '');

    return false;
  }

  var page = localStorage.getItem('page');
  if (page) {
    pageToggle(page);
  }
</script>

<script>
  var otfixN = 0;

  function otfix() {
    var el = document.getElementsByClassName("onetrust-pc-dark-filter").item(0);
    if (el != null) {
      el.style = "z-index: -1;";
    } else if (otfixN < 100) {
      otfixN += 1;

      setTimeout(otfix, 100);
    }
  }

  otfix();
</script>

</body>
</html>
