<style>
#playBox {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 430px;
  padding: 0 1rem 0 0.5rem;
  background-color: white;
  color: #555;
  vertical-align: top;
  font-size: .75rem;
  white-space: nowrap;
  z-index: 11000;
}
</style>
<script type="text/javascript">
(function () {
  function createPlayBox() {
    if (!document.body) { return; }
    var el = document.createElement("div");
    el.id = "playBox";
    el.className = "playBox";
    el.innerHTML =
      {{if .SessionId}}
      '<a href="http://{{.Host}}:{{.PortApp}}/?s={{.SessionId}}">'+
        'Couchbase Playground - Beta</a>';
      {{else}}
        'Couchbase Playground - Beta';
      {{end}}
    document.body.appendChild(el);
  };

  function checkPlayBox() {
    var el = document.getElementById("playBox");
    if (!el) {
      createPlayBox();

      setTimeout(checkPlayBox, 1000);
    } else {
      setTimeout(checkPlayBox, 10000);
    }
  };

  checkPlayBox();
})()
</script>
