<style>
#playBox {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 430px;
  padding: 0 1rem 0 0.5rem;
  background-color: white;
  color: #555;
  vertical-align: top;
  font-size: .75rem;
  white-space: nowrap;
  z-index: 11000;
}
</style>
<script type="text/javascript">
(function () {
  var checkPlayLoginN = 0;

  function checkPlayLogin() {
    checkPlayLoginN += 1;
    if (checkPlayLoginN > 100) {
      return;
    }

    var params = new URLSearchParams(document.location.search.substring(1));

    var lu = params.get("lu");
    var lp = params.get("lp");

    if (lu != "" && lp != "") {
      var eu = document.getElementById("auth-username-input");
      if (eu && eu.value == "") {
        var ep = document.getElementById("auth-password-input");
        if (ep && ep.value == "") {
          eu.value = lu;
          ep.value = lp;

          // Poke angularJS event handlers.
          eu.dispatchEvent(new InputEvent("input"));
          ep.dispatchEvent(new InputEvent("input"));

          return;
        }
      }

      setTimeout(checkPlayLogin, 200);
    }
  }

  function createPlayBox() {
    if (!document.body) { return; }

    var el = document.createElement("div");

    el.id = el.className = "playBox";

    el.innerHTML =
      {{if .SessionId}}
        '<a href="http://{{.Host}}:{{.PortApp}}/?s={{.SessionId}}">'+
          'Couchbase Playground</a>';
      {{else}}
        'Couchbase Playground';
      {{end}}

    document.body.appendChild(el);

    setTimeout(checkPlayLogin, 200);
  }

  var checkPlayBoxN = 0;

  function checkPlayBox() {
    checkPlayBoxN += 1;
    if (checkPlayBoxN > 20) {
      return;
    }

    var el = document.getElementById("playBox");
    if (!el) {
      createPlayBox();
    }

    setTimeout(checkPlayBox, 500);
  }

  checkPlayBox();
})()
</script>
