<!doctype html>
<html>
<head>
  <title>Couchbase Playground - Beta</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&Ubuntu+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles/site.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/icons.css">
  <style>
    /* TODO: Re-enable lang-go once we figure out couchbase golang SDK v2. */
    .lang-go {
      display: none;
    }

    {{if not .Session}}
    .needs-session {
      display: none;
    }
    {{end}}
  </style>
  {{.ProdOnlyJS}}
  <script src="/static/ace/src-min/ace.js"></script>
  <script>
    function onRunSubmit() {
      document.getElementById("code").value = codeAce.getSession().getValue();
      document.getElementsByTagName("body")[0].style.color = "#fff";
      document.getElementById("output").contentDocument.body.innerHTML = 
        "<span style='color:white'>running...</span>";
      document.getElementById("code-output").className = "code-output";
      return true;
    }
  </script>
  {{.AnalyticsHTML}}
</head>
<body class="dark">
  <header>
    <div class="logo">
      <a href="/{{if .Session}}?s={{.Session.SessionId}}{{end}}">
        <h1><img src="/static/cb.png"/>Couchbase Playground - Beta</h1>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          {{if .Session}}
            <a href="/session-exit?s={{.Session.SessionId}}"
               onclick="localStorage.setItem('infoPanel', 'show');" class="session">
              stop test-drive
            </a>
          {{else}}
            <a href="/session">
              start test-drive
            </a>
          {{end}}
        </li>
        <li>
          <a target="_blank" href="https://docs.couchbase.com">docs</a>
        </li>
        <li>
          <a target="_blank" href="https://www.couchbase.com">couchbase.com</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {{if .Session}}
      <div class="info-header">
        <div class="header-left">
          <a onclick="toggleInfoPanel();"><span id="toggleIcon" class="chevron down"></span></a>
        </div>
        <div class="header-right">
          <div>
            <span class="head-server">Your Couchbase Instance:</span> <code>http://{{.Host}}:8091</code>
            <span class="head-user">username:</span> <code>{{.Session.CBUser}}</code>
            <span class="head-pass">password:</span> <code>{{.Session.CBPswd}}</code>
          </div>
        </div>
      </div>
    {{end}}

    <div class="info-panel" id="infoPanel">
      {{if .Msg}}
        <div class="message-info">{{.Msg}}</div>
      {{end}}

      {{if .Session}}
      <div class="session-info">
        <h2>Couchbase Server Test-Drive Session &mdash; for <em>{{.Session.FullName}}</em></h2>
        <div>
          This test-drive session will be available for a max of {{.SessionsMaxAge}}
          or until there's {{.SessionsMaxIdle}} of inactivity.
        </div>
        <div class="shots">
          <a target="_blank" href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}">
            Dashboard
            <div><img src="/static/shots/shot-dashboard.png"/></div>
          </a>
          <a target="_blank" href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}#/query/workbench">
            Query Workbench
            <div><img src="/static/shots/shot-query-workbench.png"/></div>
          </a>
          <a target="_blank" href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}#/docs/editor">
            Documents Edit
            <div><img src="/static/shots/shot-documents.png"/></div>
          </a>
          <a target="_blank" href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}#/docs/import">
            Documents Import
            <div><img src="/static/shots/shot-import-documents.png"/></div>
          </a>
          {{if ge .SessionData.ContainerId 0}}
            <a target="_blank" href="/static/shell.html?t=http://{{.Host}}:{{.SessionData.port_1337}}">
              Couchbase Shell
              <div><img src="/static/shots/shot-cbsh.png"/></div>
            </a>
          {{end}}
        </div>
      </div>
      {{end}}
    </div>

    <div class="workspace">
      <div class="workspace-body">
        <div class="code-examples">
          <h2>Examples</h2>
          <div class="div-hr">
            <hr />
          </div>
          <div class="example-nav">
            <ul class="examples">
              {{range $i, $v := .Examples}}
              <li class="{{if .className}}{{.className}} {{end}}{{if .lang}}lang {{.lang}} {{.page}}{{else}}category{{end}}{{if eq .name $.Name}} current{{end}}">
                {{if .code}}
                  <a href="/{{$.ExamplesPath}}/{{.name}}{{if $.Session}}?s={{$.Session.SessionId}}{{end}}"
                     id="ex-{{.name}}">
                    {{.title}}
                  </a>
                {{else}}
                  {{.title}}
                  {{if .links}}
                    <span class="links">
                      {{range .links}}
                        <a href="{{.url}}" target="_blank" class="{{.class}}">{{.title}}</a>
                      {{end}}
                    </span>
                  {{end}}
                {{end}}
              </li>
              {{end}}
            </ul>
          </div>
        </div>

        <div class="code-editor">
          <div class="sticky">
            <form action="/run" method="post" target="output">
              {{if or .Name .Lang .Code}}
              <h2>
                {{if .Lang}}
                  <span class="lang">{{or .LangPretty .Lang}} - </span>
                {{end}}
                {{if .Title}}{{.Title}}{{else}}Code Editor{{end}}

                <input type="submit" value="run &gt;&gt;" class="run" id="run"
                       onclick="return onRunSubmit()"/>
              </h2>

              <div class="example-frame">
                {{if .InfoBefore}}
                  <div class="info infoBefore">{{.InfoBefore}}</div>
                {{end}}

                {{if .Session}}
                  <input name="s" type="hidden" value="{{.Session.SessionId}}"/>
                {{end}}

                <input name="lang" type="hidden" value="{{.Lang}}"/>

                <div id="code-ace" class="code-ace"></div>

                <textarea id="code" name="code" class="code" wrap="off" autocorrect="off" 
                  autocomplete="off" autocapitalize="off"
                  spellcheck="false">{{.Code}}</textarea>

                {{if .InfoAfter}}
                  <div class="info infoAfter">{{.InfoAfter}}</div>
                {{end}}
              </div>
            </form>
            {{else}}
            <div class="no-session">
              Please select an example.
            </div>
            <div class="empty-example-frame">
              <div class="info-frame">
                {{if not .Session}}
                  Or start a test-drive session to play
                  with Couchbase Server's Web-Admin UI
                  and to persist data between examples.
                  <div>
                    <a href="/session" class="nowrap">Start Test-Drive</a>
                  </div>
                  <a href="/session" class="shot">
                    <img src="/static/shots/shot-documents.png"/>
                  </a>
                {{end}}
              </div>
            </div>
            {{end}}
          </div>
        </div>

        <div class="code-output hidden" id="code-output">
          <div class="sticky">
            {{if or .Name .Lang .Code}}
              <h2>Output</h2>
              <iframe name="output" id="output" class="output"></iframe>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div>© 2021 Couchbase Labs -
      <span class="ver">Couchbase Server {{.Version}}</span>
      {{range $v := .VersionSDKs}}
        <span class="ver-sdk">{{$v.name}} SDK: {{$v.ver}}</span>
      {{end}}
    </div>
  </footer>
  {{if .Session}}
    <script src="/static/scripts/infoPanel.js"></script>
  {{end}}
  <script>
    var codeAce = ace.edit("code-ace");
    codeAce.getSession().setValue(document.getElementById("code").value);
    codeAce.setTheme("ace/theme/nord_dark");
    codeAce.setOption("useWorker", false); // No syntax checking.

    {{if .LangAce}}
      codeAce.setOption("mode", "ace/mode/{{.LangAce}}");
    {{end}}
  </script>
  <script>
    var scrollTop = parseInt(localStorage.getItem('scrollTop')) || 0;
    if (scrollTop > 0) {
      document.scrollingElement.scrollTo(0, scrollTop);
    }

    window.addEventListener('unload', function() {
      localStorage.setItem('scrollTop', document.scrollingElement.scrollTop || 0);
    });
  </script>
</body>
</html>
