<!doctype html>
<html>
<head>
  <title>Couchbase API / SDK Playground</title>
  <link rel="stylesheet" type="text/css"
        href="/static/style.css">
  <script>
  function onRunSubmit() {
    var b = document.getElementById('run');
    b.disabled = true;
    b.className = "run waiting";

    var o = document.getElementById('output');
    o.contentDocument.body.innerHTML = 'waiting...';

    function checkDone() {
      var odoc = o.contentDocument || o.contentWindow.document;
      if (odoc.readyState == "complete" &&
          odoc.contentType == "text/plain") {
        b.disabled = false;
        b.className = "run";
	return;
      }

      setTimeout(checkDone, 500);
    }

    setTimeout(checkDone, 1000);
  }
  </script>
</head>
<body>
  <div class="header flex-row">
    <div class="header-title">
      <a href="/">
        <h1>Couchbase API / SDK Playground</h1>
      </a>
    </div>

    <div class="header-links">
      <a href="/session-form">start a session</a>
      <a href="https://docs.couchbase.com">docs</a>
    </div>
  </div>

  <div class="main flex-row">
    <div class="main-left">
      <h2>Examples</h2>

      <ul class="langs">
      {{range .NameTitles}}
        <li>
          <a href="/{{$.Examples}}/{{.Name}}">{{.Title}}</a>
        </li>
      {{end}}
      </ul>
    </div>

    <div class="main-center">
      {{if .Name}}
        <h2>
          {{if .Title}}{{.Title}}{{else}}API / SDK Playground{{end}}
        </h2>

        <div>
          {{if .InfoBefore}}
            <div class="info infoBefore">{{.InfoBefore}}</div>
          {{end}}

          <form action="/run" method="post" target="output">
            <input name="lang"
                   type="hidden" value="{{.Lang}}"/>

            <textarea name="code"
                      wrap="off"
                      autocorrect="off"
                      autocomplete="off"
                      autocapitalize="off"
                      spellcheck="false">{{.Code}}</textarea>

            <input type="submit" value="run" class="run" id="run"
                   onclick="return onRunSubmit()"/>
          </form>

          {{if .InfoAfter}}
            <div class="info infoAfter">{{.InfoAfter}}</div>
          {{end}}
        </div>
      {{end}}
    </div>

    <div class="main-output">
      {{if .Name}}
        <h2>Output</h2>

        <iframe name="output" id="output"></iframe>
      {{end}}
    </div>
  </div>

  <div class="footer">
    powered by the smallcb project from Couchbase Labs
  </div>
</body>
</html>
