<!doctype html>
<html>
<head>
  <title>Couchbase Playground - Beta</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&Ubuntu+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles/site.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/icons.css">
  <style>
    /* TODO: Re-enable lang-go once we figure out couchbase golang SDK v2. */
    .lang-go {
      display: none;
    }

    {{if not .Session}}
    .needs-session {
      display: none;
    }
    {{end}}
  </style>
  {{.ProdOnlyJS}}
  <script src="/static/ace/src-min/ace.js"></script>
  <script>
    function onRunSubmit() {
      document.getElementById("code").value = codeAce.getSession().getValue();
      document.getElementsByTagName("body")[0].style.color = "#fff";
      document.getElementById("output").contentDocument.body.innerHTML = 
        "<span style='color:white'>running...</span>";
      document.getElementById("code-output").className = "code-output";
      return true;
    }
  </script>
  {{.AnalyticsHTML}}
</head>
<body class="dark">
  <header>
    <div class="logo">
      <a href="/{{if .Session}}?s={{.Session.SessionId}}{{end}}">
        <h1>Couchbase Playground - Beta</h1>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          {{if .Session}}
          <a href="/session-exit?s={{.Session.SessionId}}" onClick="localStorage.setItem('infoPanel', 'show');" class="session">
            stop test-drive
          </a>
          {{else}}
          <a href="/session">
            start test-drive
          </a>
          {{end}}
        </li>
        <li>
          <a href="https://docs.couchbase.com">docs</a>
        </li>
        <li>
          <a href="https://www.couchbase.com">couchbase.com</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {{if .Session}}
    <div class="info-header">
      
      <div class="header-left">
        <a onClick="toggleInfoPanel();"><span id="toggleIcon" class="chevron top"></span> Toggle Info</a>
      </div>
      <div class="header-right">
        <div id="instanceInfo">
          <span class="head-server">Your Couchbase Instance:</span> <code>http://{{.Host}}:8091</code>
          <span class="head-user">username:</span> <code>{{.Session.CBUser}}</code>
          <span class="head-pass">password:</span> <code>{{.Session.CBPswd}}</code>
        </div>
      </div>
      
    </div>
    {{end}}
    <div class="info-panel" id="infoPanel">
      {{if .Msg}}
      <div class="message-info">{{.Msg}}</div>
      {{end}}

      {{if .Session}}
      <div class="session-info">
        <h2>Couchbase Server Test-Drive Session &mdash; for <em>{{.Session.FullName}}</em></h2>
        <div>
          This test-drive session is active until there's ~{{.SessionsMaxAge}} of inactivity.
        </div>
        <div class="instance-info">
          <span class="head-server">Your Couchbase Instance:</span> <code>http://{{.Host}}:8091</code>
          <span class="head-user">username:</span> <code>{{.Session.CBUser}} </code>
          <span class="head-pass">password:</span> <code>{{.Session.CBPswd}}</code>
        </div>
        <div class="connection">
  <b>Couchbase Server</b>
    <a href="http://{{.Host}}:8091" class="ui">Web-Admin UI<img src="/static/shots/shot-dashboard.png"/></a> : <a href="http://{{.Host}}:8091/ui/index.html#!/query/workbench" class="ui"><img src="/static/shots/shot-query-workbench.png"/>Query Workbench</a> | <a href="http://{{.Host}}:8091/ui/index.html#!/documents/editor" class="ui"><img src="/static/shots/shot-documents.png"/>Document Editor</a> | <a href="http://{{.Host}}:8091/ui/index.html#!/documents/import" class="ui"><img src="/static/shots/shot-import-documents.png"/>Import Documents</a> | REST API: http://{{.Session.CBUser}}:{{.Session.CBPswd}}@{{.Host}}:8091


  <b>Couchbase SDK's</b>             : connection snippets
    Java   <a href="https://docs.couchbase.com/java-sdk/current/hello-world/start-using-sdk.html">SDK docs</a>, <a href="https://docs.couchbase.com/sdk-api/couchbase-java-client/">API docs</a> : - Cluster.connect("couchbase://{{.Host}}", "{{.Session.CBUser}}", "{{.Session.CBPswd}}")
    .NET   <a href="https://docs.couchbase.com/dotnet-sdk/current/hello-world/start-using-sdk.html">SDK docs</a>, <a href="https://docs.couchbase.com/sdk-api/couchbase-dotnet-client/">API docs</a> : - Cluster.ConnectAsync("couchbase://{{.Host}}", "{{.Session.CBUser}}", "{{.Session.CBPswd}}");
    NodeJS <a href="https://docs.couchbase.com/nodejs-sdk/current/hello-world/start-using-sdk.html">SDK docs</a>, <a href="https://docs.couchbase.com/sdk-api/couchbase-node-client/">API docs</a> : - new couchbase.Cluster("couchbase://{{.Host}}", {username: "{{.Session.CBUser}}", password: "{{.Session.CBPswd}}"})
    Python <a href="https://docs.couchbase.com/python-sdk/current/hello-world/start-using-sdk.html">SDK docs</a>, <a href="https://docs.couchbase.com/sdk-api/couchbase-python-client/">API docs</a> : - Cluster('couchbase://{{.Host}}', ClusterOptions(PasswordAuthenticator('{{.Session.CBUser}}', '{{.Session.CBPswd}}')))
    </div>

        <div>
          All code executed will run against this Couchbase Server instance.
        </div>
      </div>
      {{end}}
    </div>
    <div class="workspace">
      <div class="workspace-body">
        <div class="code-examples">
          <h2>Examples</h2>
          <div class="div-hr">
            <hr />
          </div>
          <div class="example-nav">
            <ul class="examples">
              {{range $i, $v := .Examples}}
              <li class="{{if .className}}{{.className}} {{end}}{{if .lang}}lang {{.lang}} {{.page}}{{else}}category{{end}}{{if eq .name $.Name}} current{{end}}">
                {{if .code}}
                <a href="/{{$.ExamplesPath}}/{{.name}}{{if $.Session}}?s={{$.Session.SessionId}}{{end}}{{if gt $i 5}}#ex-{{.name}}{{end}}"
                  id="ex-{{.name}}">
                  {{.title}}
                </a>
                {{else}}
                  {{.title}}
                  {{if .docs}}
                    <a href="{{.docs}}" target="_blank" class="docs">docs</a>
                  {{end}}
                {{end}}
              </li>
              {{end}}
            </ul>
          </div>
        </div>

        <div class="code-editor">
          <div class="sticky">
            {{if or .Name .Lang .Code}}
            <h2>
              {{if .Title}}{{.Title}}{{else}}Code Editor{{end}}
            </h2>

            <div class="example-frame">
              {{if .InfoBefore}}
              <div class="info infoBefore">{{.InfoBefore}}</div>
              {{end}}

              <form action="/run" method="post" target="output">
                {{if .Session}}
                <input name="s" type="hidden" value="{{.Session.SessionId}}"/>
                {{end}}
                <input name="lang" type="hidden" value="{{.Lang}}"/>

                <div id="code-ace" class="code-ace"></div>

                <textarea id="code" name="code" class="code" wrap="off" autocorrect="off" 
                  autocomplete="off" autocapitalize="off"
                  spellcheck="false"
                >{{.Code}}</textarea>

                <input type="submit" value="run" class="run" id="run"
                  onclick="return onRunSubmit()" />
              </form>

              {{if .InfoAfter}}
              <div class="info infoAfter">{{.InfoAfter}}</div>
              {{end}}
            </div>
            {{else}}
            <div class="no-session">
              Please select an example.
            </div>
            <div class="empty-example-frame">
              <div class="info-frame">
                {{if not .Session}}
                Or start a test-drive session to play
                with Couchbase Server's Web-Admin UI
                and to persist data between examples.
                <div><a href="/session" class="nowrap">Start Test-Drive</a></div>
                <a href="/session" class="shot"><img src="/static/shots/shot-documents.png"/></a>
                {{end}}
              </div>
            </div>
            {{end}}
          </div>
        </div>

        <div class="code-output hidden" id="code-output">
          <div class="sticky">
            {{if or .Name .Lang .Code}}
            <h2>Output</h2>
            <iframe name="output" id="output" class="output"></iframe>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div>© 2021 Couchbase Labs -
      Couchbase Server {{.Version}}
    </div>
  </footer>
  {{if .Session}}
  <script src="/static/scripts/infoPanel.js"></script>
  {{end}}
  <script>
    var codeAce = ace.edit("code-ace");
    codeAce.getSession().setValue(document.getElementById("code").value);
    codeAce.setTheme("ace/theme/nord_dark");
    codeAce.setOption("useWorker", false); // No syntax checking.

    {{if .LangAce}}
    codeAce.setOption("mode", "ace/mode/{{.LangAce}}");
    {{end}}
  </script>
</body>
</html>
