<!doctype html>
<html>
<head>
  <title>Couchbase Playground</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&Ubuntu+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles/site.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/icons.css">
  <style>
    {{if not .Session}}
    body .needs-session {
      display: none !important;
    }
    {{end}}
  </style>
  {{.OptanonHTML}}
  <script src="/static/ace/src-min/ace.js"></script>
  <script>
    function onRunSubmit() {
      document.getElementById("form").className = "run-submitted";

      document.getElementById("code").value = codeAce.getSession().getValue();

      document.getElementsByTagName("body")[0].style.color = "#fff";

      var steps = ["waiting for container", "preparing container"];

      var lang = document.getElementById("lang").value;
      if (lang == "java" || lang == "dotnet" || lang == "scala") {
        steps.push("compiling code");
      }

      steps.push("running");

      function stepHTML(x) {
        var s = "";
        for (var i = 0; i <= x; i++) {
          s = s + '<div style="color:white">' + steps[i] + '...</div>';
        }
        return s;
      }

      var outputBody = document.getElementById("output").contentDocument.body;

      function stepNext(x) {
        if (x >= steps.length) {
          return;
        }

        outputBody.innerHTML = stepHTML(x);

        setTimeout(function() {
          if (outputBody.innerHTML == stepHTML(x)) {
            stepNext(x + 1);
          }

          document.getElementById("form").className = "";
        }, (x + 1) * 3000);
      }

      stepNext(0);

      document.getElementById("code-output").className = "code-output";

      return true;
    }
  </script>
  {{.AnalyticsHTML}}
</head>
<body class="dark">
  <header>
    <div class="logo">
      <a href="/{{if .Session}}?s={{.Session.SessionId}}{{end}}">
        <h1><img src="/static/cb.png"/>Couchbase Playground</h1>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          {{if .Session}}
            <a href="/session-exit?s={{.Session.SessionId}}"
               onclick="localStorage.setItem('infoPanel', 'show');" class="session">
              stop playground session
            </a>
          {{else}}
            <a href="/session">
              start playground session
            </a>
          {{end}}
        </li>
        <li>
          <a target="_blank" href="https://docs.couchbase.com">docs</a>
        </li>
        <li>
          <a target="_blank" href="https://www.couchbase.com">couchbase.com</a>
        </li>
      </ul>
    </nav>
  </header>

  <main id="main">
    {{if .Session}}
      <div class="info-header">
        <div class="header-left">
          <a onclick="toggleInfoPanel();"><span id="toggleIcon" class="chevron down"></span></a>
        </div>
        <div class="header-right">
          <div>
            <span class="head-server">Your Couchbase instance:</span>
            <code><a href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}"
                     target="_blank">http://{{.Host}}:8091</a>
            </code>
            <span class="head-user">username:</span> <code>{{.Session.CBUser}}</code>
            <span class="head-pass">password:</span> <code>{{.Session.CBPswd}}</code>
          </div>
        </div>
      </div>
    {{end}}

    <div class="info-panel" id="infoPanel">
      {{if .Msg}}
        <div class="message-info">{{.Msg}}</div>
      {{end}}

      {{if .Session}}
      <div class="session-info">
        <div>
          Your playground session will end after {{.SessionsMaxAge}}
          or until there's {{.SessionsMaxIdle}} of inactivity.
        </div>
        <div class="shots">
          <a target="_blank"
             href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}&playgTour=welcome"
             class="start-here">
            <u>Start here</u>
            <div><br/><center>Welcome to Couchbase Server</center></div>
          </a>
          <a target="_blank"
             href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}">
            <u>Dashboard</u>
            <div><img src="/static/shots/shot-dashboard.png"/></div>
          </a>
          <a target="_blank"
             href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}#/query/workbench?query=SELECT%20%2A%20FROM%20system%3Akeyspaces">
            <u>Query Workbench</u>
            <div><img src="/static/shots/shot-query-workbench.png"/></div>
          </a>
          <a target="_blank"
             href="http://{{.Host}}:8091/ui/index.html?lu={{.Session.CBUser}}&lp={{.Session.CBPswd}}#/docs/editor">
            <u>Docs Workbench</u>
            <div><img src="/static/shots/shot-documents.png"/></div>
          </a>
          {{if ge .SessionData.ContainerId 0}}
            <a target="_blank"
               href="/static/shell.html?t=http://{{.Host}}:{{.SessionData.port_1337}}">
              <u>Couchbase Shell</u>
              <div><img src="/static/shots/shot-cbsh.png"/></div>
            </a>
          {{end}}
        </div>
      </div>
      {{end}}
    </div>

    <div class="workspace" id="workspace">
      <div class="workspace-body">
        <div class="code-examples">
          <input name="examplesToggle" id="examplesToggle"
                 type="checkbox"
                 {{if .Lang}}{{if .Code}}checked{{end}}{{end}}
                 {{if .Session}}checked{{end}}/>

          <h2><label for="examplesToggle"><span class="chevron down"></span></a>Code Examples</label></h2>

          <div class="div-hr">
            <hr/>
          </div>

          <div class="pages">
            {{range $i, $v := .Examples}}
              {{if not .code}}
                <button class="{{if .className}}{{.className}} {{end}}{{.page}}"
                        onclick="pageToggle('{{.page}}')">
                  {{.title}}
                </button>
                <style>
                  main.{{.page}} .workspace .workspace-body .code-examples .pages button.{{.page}} {
                    border: 1px solid rgba(159, 226, 100, 0.95);
                    background-color: #333a32;
                  }
                </style>
              {{end}}
            {{end}}
          </div>

          <div class="example-nav">
            <ul class="examples">
              {{range $i, $v := .Examples}}
              <li class="{{if .className}}{{.className}} {{end}}{{if .lang}}lang {{.lang}}{{else}}category{{end}} {{.page}}{{if eq .name $.Name}} current{{end}}">
                {{if .code}}
                  <a href="/{{$.ExamplesPath}}/{{.name}}{{if $.Session}}?s={{$.Session.SessionId}}{{end}}"
                     id="ex-{{.name}}">
                    {{.title}}
                  </a>
                {{else}}
                  {{.title}}
                  {{if .links}}
                    <span class="links">
                      {{range .links}}
                        <a href="{{.url}}" target="_blank" class="{{.class}}">{{.title}}</a>
                      {{end}}
                    </span>
                  {{end}}
                {{end}}
              </li>

              <style>
                main .workspace .workspace-body .code-examples .example-nav .examples li.{{.page}} {
                  background-color: #{{call $.PageColor .page}};
                }
                main.page-focus .workspace .workspace-body .code-examples .example-nav .examples li.{{.page}} {
                  display: none;
                }
                main.page-focus.{{.page}} .workspace .workspace-body .code-examples .example-nav .examples li.{{.page}} {
                  display: block;
                }
              </style>

              {{end}}
            </ul>
          </div>
        </div>

        <div class="code-editor">
          <div class="sticky">
            <form action="/run" method="post" target="output" id="form">
              {{if or .Name .Lang .Code}}
              <h2>
                {{if .Lang}}
                  {{if ne .Lang "NONE"}}
                    <span class="lang">{{or .LangPretty .Lang}} - </span>
                  {{end}}
                {{end}}
                {{if .Title}}{{.Title}}{{else}}Code Editor{{end}}

                {{if ne .Code "NONE"}}
                  <input type="submit" value="run &gt;&gt;" class="run" id="run"
                         onclick="return onRunSubmit()"/>
                {{end}}
              </h2>

              <div class="example-frame">
                {{if .InfoBefore}}
                  <div class="info infoBefore">{{.InfoBefore}}</div>
                {{end}}

                {{if .Session}}
                  <input name="s" type="hidden" value="{{.Session.SessionId}}"/>
                {{end}}

                <input name="lang" type="hidden" value="{{.Lang}}" id="lang"/>

                {{if ne .Code "NONE"}}
                  <div id="code-ace" class="code-ace"></div>

                  <textarea id="code" name="code" class="code"
                    wrap="off" autocorrect="off"
                    autocomplete="off" autocapitalize="off"
                    spellcheck="false">{{.Code}}</textarea>
                {{end}}

                {{if .InfoAfter}}
                  <div class="info infoAfter">{{.InfoAfter}}</div>
                {{end}}

                {{if not .Session}}
                  <div class="session-cta">
                    Also try Couchbase Server in an online playground:
                    <a href="/session" class="nowrap">Start Playground Session</a>
                  </div>
                {{end}}
              </div>
            </form>
            {{else}}
            <div class="no-session">
              <h2>
                Try Couchbase in an online playground
              </h2>
            </div>
            <div class="empty-example-frame">
              <div class="info-frame session-cta">
                {{if not .Session}}
                  <div>
                    <a href="/session" class="nowrap">
                      <div>Start Playground Session</div>

                      <img src="/static/shots/shot-documents.png"/>
                    </a>
                  </div>
                {{end}}
              </div>
            </div>
            {{end}}
          </div>
        </div>

        <div class="code-output hidden" id="code-output">
          <div class="sticky">
            {{if or .Name .Lang .Code}}
              <h2>Output</h2>
              <iframe name="output" id="output" class="output"></iframe>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div>© 2021 Couchbase Labs -
      <span class="ver">Couchbase Server {{.Version}}</span>
      {{range $v := .VersionSDKs}}
        <span class="ver-sdk">{{$v.name}} SDK: {{$v.ver}}</span>
      {{end}}
    </div>
  </footer>

  {{if .Session}}
    <script src="/static/scripts/infoPanel.js"></script>
  {{end}}

  <script>
    var codeAce = ace.edit("code-ace");
    codeAce.getSession().setValue(document.getElementById("code").value);
    codeAce.setTheme("ace/theme/nord_dark");
    codeAce.setOption("useWorker", false); // No syntax checking.

    {{if .LangAce}}
      codeAce.setOption("mode", "ace/mode/{{.LangAce}}");
    {{end}}
  </script>

  <script>
    var scrollTop = parseInt(localStorage.getItem('scrollTop')) || 0;
    if (scrollTop > 0) {
      document.scrollingElement.scrollTo(0, scrollTop);
    }

    window.addEventListener('unload', function() {
      localStorage.setItem('scrollTop', document.scrollingElement.scrollTop || 0);
    });
  </script>

  <script>
    function pageToggle(page) {
      var main = document.getElementById("main");
      if (main.className != page + " page-focus") {
        main.className = page + " page-focus";
        localStorage.setItem('page', page);
      } else {
        main.className = "";
        localStorage.setItem('page', '');
      }
    }

    var page = localStorage.getItem('page');
    if (page) {
      pageToggle(page);
    }
  </script>

  <script>
    var otfixN = 0;

    function otfix() {
      var el = document.getElementsByClassName("onetrust-pc-dark-filter").item(0);
      if (el != null) {
        el.style = "z-index: -1;";
      } else if (otfixN < 100) {
        otfixN += 1;

        setTimeout(otfix, 100);
      }
    }

    otfix();
  </script>
</body>
</html>
