<!doctype html>
<html>
<head>
  <title>Couchbase API Playground</title>
</head>
<body>
  <style>
    * {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 11pt;
    }

    h1 {
      margin-bottom: 10px;
      border-bottom: 1px solid #666;
      padding-bottom: 20px;
      white-space: nowrap;
      font-size: 13pt;
    }

    h2 {
      margin-right: 20px;
      white-space: nowrap;
      font-weight: normal;
    }

    a {
      color: #333;
    }

    .main {
      margin-bottom: 80px;
    }

    .main .main-left {
      flex-basis: 15rem;
      flex-grow: 1;
      margin-right: 20px;
    }

    .main .main-center {
      flex-basis: 30rem;
      flex-grow: 10;
    }

    .main .main-center .info {
      width: 95%;
    }

    .main .main-output {
      flex-basis: 28rem;
      flex-grow: 8;
    }

    .main .main-output iframe {
      width: 90%;
      height: 20rem;
    }

    input.run {
      border: 2px solid #888;
      padding: 5px 40px 5px 40px;
      background-color: #9c9;
      font-weight: bold;
      color: #666;
      cursor: pointer;
    }

    input.run:hover {
      background-color: #9e9;
      color: #666;
    }

    input.run.waiting, input.run.waiting:hover {
      background-color: orange;
      cursor: wait;
    }

    input, textarea, pre {
      display: block;
      margin-bottom: 10px;
      border: 1px solid #888;
      font-size: 13px;
    }

    textarea {
      width: 95%;
      height: 20rem;
      overflow-y: scroll;
      background-color: #333;
      color: #eee;
      font-family: courier, monospace;
    }

    iframe {
      border: 1px solid #888;
    }

    .flex-row {
      display: flex;
      flex-direction: row;
    }

    .footer {
      border-top: 1px solid #666;
      padding-top: 10px;
      font-size: 8pt;
      color: #666;
    }
  </style>

  <script>
  function onRunSubmit() {
    var b = document.getElementById('run');
    b.disabled = true;
    b.className = "run waiting";

    var o = document.getElementById('output');
    o.contentDocument.body.innerHTML = 'waiting...';

    function checkDone() {
      var odoc = o.contentDocument || o.contentWindow.document;
      if (odoc.readyState == "complete" &&
          odoc.contentType == "text/plain") {
        b.disabled = false;
        b.className = "run";
	return;
      }

      setTimeout(checkDone, 500);
    }

    setTimeout(checkDone, 1000);
  }
  </script>

  <h1>Couchbase API / SDK Playground</h1>

  <div class="main flex-row">
    <div class="main-left">
      <h2>Examples</h2>

      <ul class="langs">
      {{range .NameTitles}}
        <li>
          <a href="/example/{{.Name}}">{{.Title}}</a>
        </li>
      {{end}}
      </ul>
    </div>

    <div class="main-center">
      <h2>
        {{if .Title}}{{.Title}}{{else}}API / SDK Playground{{end}}
      </h2>

      <div class="item">
        {{if .InfoBefore}}
          <div class="info infoBefore">{{.InfoBefore}}</div>
        {{end}}

        <form class="item-form"
              action="/run" method="post" target="output">
          <input name="lang"
                 type="hidden" value="{{.Lang}}"/>

          <textarea name="code"
                    wrap="off"
                    autocorrect="off"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false">{{.Code}}</textarea>

          <input type="submit" value="run" class="run" id="run"
                 onclick="return onRunSubmit()"/>
        </form>

        {{if .InfoAfter}}
          <div class="info infoAfter">{{.InfoAfter}}</div>
        {{end}}
      </div>
    </div>

    <div class="main-output">
      <h2>Output</h2>

      <iframe name="output" id="output"></iframe>
    </div>
  </div>

  <div class="footer">
    powered by the smallcb project from Couchbase Labs
  </div>
</body>
</html>
