<!doctype html>
<html>
<head>
  <title>Couchbase Playground</title>
  {{.AnalyticsHTML}}
<head>
<body>
  <pre>{{.Output}}</pre>
  <link rel="stylesheet" type="text/css" href="/static/styles/output.css">
</body>
</html>
