<!doctype html>
<html>
<head>
  <title>Couchbase Playground</title>
  {{.AnalyticsHTML}}
  <style>
  {{if .Color}}
    pre { color: {{.Color}}; }
  {{end}}
  </style>
<head>
<body>
<pre>{{.Output}}</pre>
</body>
</html>
