<!doctype html>
<html>
<head>
  <title>Couchbase API / SDK Playground</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/output.css">
  {{.AnalyticsHTML}}
<head>
<body>
  <pre>{{.Output}}</pre>
   <style>pre { color: #FFF; }</style>
</body>
</html>
