<!doctype html>
<html>
<head>
  <title>Couchbase Playground</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles/site.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/session.css">

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>

  <script src="../static/scripts/menu.js"></script>

  {{.AnalyticsHTML}}
</head>
<body class="{{.bodyClass}}">
<header>
  <div class="header-flex-container">
    <div class="logo">
      <h1>
        <a href="https://www.couchbase.com/">
          <img src="/static/cb-rww.svg" class="hidden-xs"/>
          <img src="/static/cb.png" class="hidden-sm hidden-lg"/>
        </a>
          {{/* the href below is set by a javascript function that checks if we are on couchbase.live or not */}}
        <a href="//{{if and .HostName .PortApp}}{{.HostName}}:{{.PortApp}}{{else}}couchbase.live{{end}}" id="homeLink">
          Playground
        </a>
      </h1>
    </div>

    <nav>
      <ul>
        <li>
            {{if .Session}}
              <a href="/session-exit?s={{.Session.SessionId}}"
                 onclick="localStorage.setItem('infoPanel', 'show');" class="session menu-button red-button" id="stopSessionButton">
                Stop Session
              </a>
            {{else if not .Target.DBurl}}
              <a href="/session" class="menu-button red-button" id="startSessionButtonMenu">
                <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 -3 25 25"><path d="M24 21v-6h-18v6h18zm-3-4c.553 0 1 .448 1 1s-.447 1-1 1c-.552 0-1-.448-1-1s.448-1 1-1zm-7.806 0h1.275l-.864 2h-1.274l.863-2zm-2.141 0h1.275l-.863 2h-1.275l.863-2zm-2.19 0h1.275l-.863 2h-1.275l.863-2zm-4.863.941c-2.253-.29-4-2.194-4-4.524 0-2.252 1.626-4.121 3.767-4.506.177-3.294 2.895-5.911 6.233-5.911s6.056 2.617 6.233 5.911c2.005.361 3.541 2.029 3.729 4.089h-1.991c-.279-2.105-2.674-2.333-3.65-2.401.117-1.958-.555-5.599-4.321-5.599-4.438 0-4.359 4.75-4.321 5.599-.945-.037-3.679.341-3.679 2.818 0 1.223.856 2.245 2 2.511v2.013z"/></svg>
                  {{/*                TODO: in future we can make this a dropdown to support starting other types of sessions */}}
                &nbsp
                Start a Session
              </a>
            {{end}}
        </li>
      </ul>
    </nav>
  </div>

  <div class="subheader-container">
    <ul id="secondaryNav">
      <li>
        <a href="https://docs.couchbase.com">Documentation</a>
      </li>
      <li>
        <a href="https://developer.couchbase.com">Developers</a>
      </li>
      <li>
        <a href="/{{if .Session}}?s={{.Session.SessionId}}{{end}}">
          <svg class="hidden-mobile" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="14" height="14"
               viewBox="0 -3 25 25"
               style=" fill:#ffffff;">
            <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
          </svg>
          <span class="hidden-mobile">
            &nbsp
          </span>
          Return to SDKs
          <span class="hidden-lg">
            &nbsp
          </span>
          <svg class="hidden-lg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="14" height="14"
               viewBox="0 -3 25 25"
               style=" fill:#ffffff;">
            <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
          </svg>
        </a>
      </li>
    </ul>
    <span id="menuToggle" onclick="handleMenuToggle()">
      <svg id="hamburgerIcon" fill="#fff" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 18v1h-24v-1h24zm0-6v1h-24v-1h24zm0-6v1h-24v-1h24z" fill="#1040e2"/><path d="M24 19h-24v-1h24v1zm0-6h-24v-1h24v1zm0-6h-24v-1h24v1z"/></svg>
      <svg id="exitIcon" class="hidden" fill="#fff" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg>
    </span>
  </div>

</header>

  <main>
    <article>
      <header>
        <h2>
          {{if .title}}
            {{.title}}
          {{else}}
            Playground with a Provisioned Couchbase
          {{end}}
        </h2>
      </header>
      <section>
        {{if .intro}}
          <p>{{.intro}}</p>
        {{end}}

        <p>
          Starting a playground session allocates Couchbase Server resources to you.
        </p>
        <p>
          Your session will expire after {{.SessionsMaxAge}} total or after {{.SessionsMaxIdle}} of inactivity.
        </p>
        <p>
          Let's get started...
        </p>

        <form action="/session" method="post" autocomplete="off">
          <label {{if .namec}}class="{{.namec}}"{{end}}> Your Name:
            <span class="error">{{.errName}}</span>
            <input type="text" name="name" value="{{.name}}" autofocus/>
          </label>
          {{if .namec}}
            <input type="hidden" name="namec" value="{{.namec}}"/>
          {{end}}

          <label {{if .emailc}}class="{{.emailc}}"{{end}}> Your Email:
            <span class="error">{{.errEmail}}</span>
            <input type="text" name="email" value="{{.email}}"/>
          </label>
          {{if .emailc}}
            <input type="hidden" name="emailc" value="{{.emailc}}"/>
          {{end}}

          <div class="captcha-bg {{if .captchac}}{{.captchac}}{{end}}">
            <img class="captcha" {{.captchaSrc}}/>
          </div>

          <label {{if .captchac}}class="{{.captchac}}"{{end}}>Enter Captcha:
            <span class="error">{{.errCaptcha}}</span>
            <input type="text" name="captcha"/>
          </label>
          {{if .captchac}}
            <input type="hidden" name="captchac" value="{{.captchac}}"/>
          {{end}}

          <div class="actions">
            <input type="submit" name="session-start"
                   value="Start a Session"
                   onclick="submitted(); return true"/>
            <div class="cancel">
              or <a href="/">cancel</a>
            </div>
          </div>

          {{if .err}}
            <div class="error">{{.err}}</div>
          {{end}}

          {{if .defaultBucket}}
            <input type="hidden" name="defaultBucket" value="{{.defaultBucket}}"/>
          {{end}}

          {{if .groupSize}}
            <input type="hidden" name="groupSize" value="{{.groupSize}}"/>
          {{end}}

          {{if .init}}
            <input type="hidden" name="init" value="{{.init}}"/>
          {{end}}

          {{if .e}}
            <input type="hidden" name="e" value="{{.e}}"/>
          {{end}}

          {{if .bodyClass}}
            <input type="hidden" name="bodyClass" value="{{.bodyClass}}"/>
          {{end}}

          {{if .title}}
            <input type="hidden" name="title" value="{{.title}}"/>
          {{end}}

          {{if .intro}}
            <input type="hidden" name="intro" value="{{.intro}}"/>
          {{end}}
        </form>
        <p>
          We won't sell your contact info to spammers, etc.
        </p>
        <p>
          A playground session is intended for "tire-kicking" and learning by developers.
        </p>
        <p>
          Do NOT put important data into a playground session.
        </p>
      </section>
    </article>
  </main>

  <footer>
    <div>© 2021 Couchbase Labs</div>
  </footer>
</body>
<script>
function submitted() {
  setTimeout(function() {
    document.querySelector("form .actions input[type=submit]").disabled = true;
    document.querySelector("form .actions .cancel").innerHTML =
      `launching containers<span class="loading"></span>`;
  }, 100);
}
</script>
<script>
    {{/*  Script for Tooltips  */}}
    tippy('#startSessionButtonMenu', {
      content: 'Sign in using the form below to start a session',
      placement: 'bottom-end'
    })

</script>
<style>
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: text-bottom;
  animation: ellipsis steps(5,end) 1.5s infinite;
  content: "\2026\2026\2026\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 30px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 30px;
  }
}
</style>
</html>
