<!doctype html>
<html>
<head>
  <title>Couchbase API / SDK Playground</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles/site.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/session.css">
  {{.AnalyticsHTML}}
</head>
<body class="dark">
  <header>
    <div class="logo">
      <a href="/">
        <h1>Couchbase API / SDK Playground - Start a Test-Drive Session</h1>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="https://docs.couchbase.com">docs</a>
        </li>
        <li>
          <a href="https://www.couchbase.com">couchbase.com</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <article>
      <header>
        <h2>Start a Test-Drive Session</h2>
        <div class="div-hr">
          <hr />
        </div>
      </header>
      <section>
        <p>
          Starting a test-drive session allocates a Couchbase Server instance for you.
        </p>
        <p>
          Your session expires after ~{{.SessionsMaxAge}}, after which your instance and its data will be deleted.
        </p>
        <p>
          Your instance can also be deleted in case of a system reboot.
        </p>
        <p>
          A test-drive session is intended for "tire-kicking" and exploration by developers, <b>NOT</b> for production use.
        </p>
        <p>
          A test-drive session is <b>NOT</b> meant for performance testing,
	  as it may run on cost-effective (read: "low-end, slow, highly-shared") servers.
        </p>
        <p>
          <b>NEVER</b> keep important or private data on this test-drive instance.
        </p>
        <p>
          Let's get started...
        </p>

        <form action="/session" method="post" autocomplete="off">
          <label> Full Name:
            <span class="error">{{.errFullName}}</span>
            <input type="text" name="fullName" value="{{.fullName}}" autofocus/>
          </label>
          <label> Email:
            <span class="error">{{.errEmail}}</span>
            <input type="text" name="email" value="{{.email}}"/>
          </label>

          <div class="captcha-bg">
            <img class="captcha" {{.captchaSrc}}/>
          </div>

          <label>Enter Captcha:
            <span class="error">{{.errCaptcha}}</span>
            <input type="text" name="captcha"/>
          </label>

          <input type="submit" name="session-start" value="start a test-drive session"/>

          <div class="details">
            (we won't sell your email to spammers, etc)
          </div>

          {{if .err}}
          <div class="error">{{.err}}</div>
          {{end}}

          {{if .e}}
          <input type="hidden" name="e" value="{{.e}}"/>
          {{end}}
        </form>
      </section>
    </article>
  </main>

  <footer>
    <div>© 2020 Couchbase Labs</div>
  </footer>
</body>
</html>
