<!doctype html>
<html>
<head>
  <title>Couchbase API / SDK Playground</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles/site.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/session.css">

  {{.AnalyticsHTML}}
</head>
<body>
    <header>
    <div class="logo">
      <a href="/">
        <h1>Couchbase API / SDK Playground - Admin Dashboard</h1>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="https://docs.couchbase.com">docs</a>
        </li>
        <li>
          <a href="https://www.couchbase.com">couchbase.com</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="flex-row">
    <div class="main">
      <h2>Start a Couchbase Server Test-Drive Session</h2>

      <p>
        A test-drive session means that a Couchbase&nbsp;Server instance
        will be allocated to you
        &mdash;
        until your session expires after ~{{.SessionsMaxAge}} or from inactivity
        &mdash;
        or is deleted for other reasons like from a system reboot.
      </p>

      <p>
        A test-drive session is <b>NOT</b> meant for production usage
        and is intended for "tire-kicking" exploration by developers.
      </p>

      <p>
        A test-drive session is <b>NOT</b> meant for performance testing,
        as we might be running on cost-effective
        (read: "low-end, slow, highly-shared") servers.
      </p>

      <p>
        Especially, don't keep important or private data on a test-drive
        Couchbase&nbsp;Server instance!
      </p>

      <p>
        To get started...
      </p>

      <form action="/session" method="post" autocomplete="off">
        <label>
          Full Name:
          <span class="err">{{.errFullName}}</span>
          <input type="text" name="fullName" value="{{.fullName}}" autofocus/>
        </label>

        <label>
          Email:
          <span class="err">{{.errEmail}}</span>
          <input type="text" name="email" value="{{.email}}"/>
        </label>

	<img class="captcha" {{.captchaSrc}}/>

        <label>
          Enter the above #'s:
          <span class="err">{{.errCaptcha}}</span>
          <input type="text" name="captcha"/>
        </label>

        <input type="submit" name="session-start"
               value="start a test-drive session"/>

        <div class="details">
          (we won't sell your email to spammers, etc)
        </div>

        {{if .err}}
          <div class="err">{{.err}}</div>
        {{end}}

	{{if .e}}
          <input type="hidden" name="e" value="{{.e}}"/>
	{{end}}
      </form>
    </div>
  </div>

  <div class="footer">
    powered by Couchbase Labs and Couchbase Server {{.Version}}
  </div>
</body>
</html>
