<!doctype html>
<html>
<head>
  <title>Couchbase API / SDK Playground</title>
  <link rel="stylesheet" type="text/css"
        href="/static/style.css">
  <style>
    .main {
      flex-basis: 40rem;
      padding: 20px 40px 40px 40px;
    }

    .main h2 {
      font-size: 12pt;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .main form {
      margin-top: 30px;
    }

    .main label {
      font-weight: bold;
    }

    .main .details {
      font-weight: normal;
      font-size: 9pt;
    }

    .main input[type=text] {
      width: 20rem;
      margin: 5px 0 10px 0;
      padding: 3px 5px 3px 5px;
    }

    .main input[type=submit] {
      margin-top: 30px;
      border: 2px solid #999;
      padding: 5px 20px 5px 20px;
      background-color: #d8d8d8;
      cursor: pointer;
    }

    .main input[type=submit]:hover {
      background-color: #eee;
    }

    .main img.captcha {
      display: block;
    }

    .err {
      color: red;
    }

    div.err {
      margin-top: 10px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="header flex-row">
    <div class="header-title">
      <a href="/">
        <h1>Couchbase API / SDK Playground</h1>
      </a>
    </div>

    <div class="header-links">
      <a href="https://docs.couchbase.com">docs</a>
      <a href="https://www.couchbase.com">couchbase.com</a>
    </div>
  </div>

  <div class="flex-row">
    <div class="main">
      <h2>Start a Couchbase Server Test-Drive Session</h2>

      <p>
        A test-drive session means that a Couchbase Server instance
        will be allocated to you
        &mdash;
        until your session expires from inactivity (~5 minutes)
        &mdash;
        or is deleted for other reasons like a system reboot.
      </p>

      <p>
        A test-drive session is <b>NOT</b> meant for production usage
        and is intended for "tire-kicking" exploration by developers.
      </p>

      <p>
        A test-drive session is <b>NOT</b> meant for performance testing,
        as we might be running on cost-effective
        (read: "low-end, slow") servers.
      </p>

      <p>
        Don't keep important or private data on a test-drive
        Couchbase Server instance!
      </p>

      <p>
        To get started...
      </p>

      <form action="/session" method="post">
        <label>
          Full Name:
          <span class="err">{{.errFullName}}</span>
          <input type="text" name="fullName" value="{{.fullName}}"/>
        </label>

        <label>
          Email:
          <span class="err">{{.errEmail}}</span>
          <input type="text" name="email" value="{{.email}}"/>
        </label>

	<img class="captcha" {{.captchaSrc}}/>

        <label>
          Enter the above #'s:
          <span class="err">{{.errCaptcha}}</span>
          <input type="text" name="captcha"/>
        </label>

        <input type="submit" name="session-start"
               value="start a test-drive session"/>

        <div class="details">
          (we won't sell your email to spammers, etc)
        </div>

        {{if .err}}
          <div class="err">{{.err}}</div>
        {{end}}
      </form>
    </div>
  </div>

  <div class="footer">
    powered by the smallcb project from Couchbase Labs
  </div>
</body>
</html>
