* {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11pt;
}

.header {
  margin-bottom: 10px;
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
}

.header-title {
  flex-basis: 20rem;
  flex-grow: 10;
}

.header-links {
  margin-top: 14px;
  padding-right: 10px;
}

.header-links a {
  margin-left: 10px;
  white-space: nowrap;
}

h1 {
  white-space: nowrap;
  font-size: 13pt;
}

h2 {
  margin-right: 20px;
  white-space: nowrap;
  font-weight: normal;
}

a {
  color: #333;
}

a.button {
  border: 2px solid #888;
  padding: 3px 30px 3px 30px;
  background-color: #d8d8d8;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

a.button:hover {
  background-color: #eee;
}

.msg {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #666;
  padding-bottom: 40px;
  font-weight: bold;
  color: #333;
}

.main {
  margin-bottom: 80px;
}

.main .main-left {
  flex-basis: 15rem;
  flex-grow: 1;
  margin-right: 20px;
}

.main .main-center {
  flex-basis: 30rem;
  flex-grow: 10;
}

.main .main-center .info {
  width: 95%;
}

input, textarea, pre {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #888;
  font-size: 13px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.footer {
  border-top: 1px solid #666;
  padding: 10px 0 15px 0;
  font-size: 8pt;
  color: #666;
}
