body {
  margin: 0 0;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-size: 11pt;
}

.header {
  margin: 0 0 30px 0;
  border-bottom: 1px solid #666;
  background-color: #000;
  padding-bottom: 10px;
}

.header-title {
  flex-basis: 20rem;
  flex-grow: 10;
}

.header-title h1 {
  margin: 25px 10px 10px 30px;
  color: #eee;
}

.header-links {
  margin-top: 14px;
  padding-right: 10px;
}

.header-links a {
  margin-left: 10px;
  white-space: nowrap;
  color: #eee;
}

h1 {
  white-space: nowrap;
  font-size: 13pt;
}

h2 {
  margin-right: 20px;
  white-space: nowrap;
  font-weight: normal;
  font-size: 11pt;
}

a {
  color: #333;
}

a.button {
  border: 2px solid #888;
  padding: 3px 30px 3px 30px;
  background-color: #d8d8d8;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

a.button:hover {
  background-color: #eee;
}

.msg {
  margin: 40px 30px 40px 30px;
  border-bottom: 1px solid #666;
  padding-bottom: 40px;
  font-weight: bold;
  color: #333;
}

.main {
  margin: 0 30px 80px 30px;
}

input, pre {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #888;
  font-size: 13px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.nowrap {
  white-space: nowrap;
}

.footer {
  border-top: 1px solid #666;
  padding: 20px 20px 25px 20px;
  font-size: 8pt;
  color: #666;
}
