.main {
  display: block;
  padding: 20px 40px 40px 40px;
}

.main h2 {
  margin-left: 0;
}

.main .infos {
  margin-bottom: 40px;

  font-family: monospace;
  font-size: 8pt;
}

.main table.nums {
  border-collapse: collapse;
}

.main table.nums thead {
  position: sticky;
  top: 0px;
  height: 160px;
  background: white;
  border-bottom: 1px solid #aaa;
}

.main table.nums thead th {
  vertical-align: bottom;
}

.main table.nums th,
.main table.nums td {
  font-family: monospace;
  font-size: 8pt;
  text-align: right;
}

.main table.nums th.num {
  vertical-align: top;
  min-width: 1.5rem;
}

.main table.nums th.num div.num {
  position: absolute;
  font-size: 8pt;
  transform-origin: 0 0; /* top-left instead of center */
  transform: translate(0, 150px) rotate(-45deg);
}

.main table.nums tbody tr:hover {
  background-color: #eee;
}

.main table.nums tbody tr td {
  padding-left: 5px;
}

.main table.nums tr.level-1 {
  background-color: #e8f8ff;
}
.main table.nums tr.level-2 {
  background-color: #a8e8ff;
}
.main table.nums tr.level-3 {
  background-color: #68d8ff;
}
.main table.nums tr.level-4 {
  background-color: #28c8ff;
}
.main table.nums tr.level-5 {
  background-color: #08b8ff;
}

.errs {
  margin: 20px 0 20px 25px;
  padding: 20px 0 20px 0;
}
.errs li {
  font-family: monospace;
  font-size: 8pt;
}

.footer {
  margin-left: 45px;
}
