.sticky {
  position: sticky;
  top: 0;
}

.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
  display: none;
}

.session-info {
  padding-top: 1em;
  padding-bottom: 10px;
  border-width: 1px;
}
.session-info h2 {
  font-weight: bold;
}
.session-info h2 em {
  font-weight: normal;
}
.session-info div {
  margin-bottom: 20px;
  margin-left: 30px;
}
.session-info .shots {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 0 0 20px 50px;
  padding: 0 0 0 0;
}
.session-info .shots a {
  display: inline-block;
  min-width: 140px;
  font-size: 9pt;
  text-decoration: none;
  outline: 0;
}
.session-info .shots a div {
  width: 120px;
  height: 70px;
  margin-top: 4px;
  margin-left: 4px;
  border-width: 3px;
  border-style: solid;
}
.session-info .shots a div img {
  position: absolute;
  clip: rect(0px, 120px, 70px, 0px);
  width: 120px;
}

.workspace {
  width: 100%;
}

main .info-header {
  display: flex;
  flex-direction: rows;
}

main .info-header .header-left {
  height: 35px;
}
main .info-header .header-left a {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 10px;
  padding-left: 17px;
  padding-right: 7px;
  min-height: 35px;
  cursor: pointer;
  cursor: hand;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */

  text-decoration: none;
  font-size: 12px;
}

main .info-header .header-right {
  padding-top: 9px;
  height: 25px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 14px;
  white-space: nowrap;
}
main .info-header .header-right .head-server {
  font-size: 16px;
}
main .info-header .header-right .head-user,
main .info-header .header-right .head-pass {
  margin-left: 1em;
  font-size: 16px;
  font-weight: 500;
}
main .info-header .header-right code {
  font-style: italic;
}

.workspace .workspace-body {
  display: flex;
  flex-direction: row;
}

.workspace .workspace-body h2 {
  height: 23px;
}
.workspace .workspace-body h2 .lang {
  font-weight: normal;
}

.workspace
  .workspace-body
  .code-examples
  input[type="checkbox"]#examplesToggle {
  display: none;
}

.workspace .workspace-body .code-examples h2 {
  max-width: 2rem;
  max-height: 2rem;
  margin-left: 15px;
  transform: translateY(6rem) rotate(-90deg) translateX(-4rem);
  transition: all 0.2s;
}

.workspace
  .workspace-body
  .code-examples
  input[type="checkbox"]#examplesToggle:checked
  ~ h2 {
  max-width: auto;
  max-height: auto;
  margin-left: 15px;
  transform: none;
}

.workspace .workspace-body .code-examples h2 label {
  cursor: pointer;
}

.workspace .workspace-body .code-examples .div-hr {
  display: none;
}

.workspace
  .workspace-body
  .code-examples
  input[type="checkbox"]#examplesToggle:checked
  ~ .div-hr {
  display: block;
}

.workspace .workspace-body .code-examples .pages {
  display: none;
  width: 240px;
  margin: 0 0 30px 0;
  padding: 0 5px 5px 6px;
  flex-wrap: wrap;
}

.workspace
  .workspace-body
  .code-examples
  input[type="checkbox"]#examplesToggle:checked
  ~ .pages {
  display: flex;
}

.workspace .workspace-body .code-examples .pages a {
  flex-basis: 60px;
  margin: 3px 3px;
  padding: 3px 5px 3px 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 11px;
}

.workspace .workspace-body .code-examples .pages a:focus {
  outline: none;
}

.workspace .workspace-body .code-examples .example-nav {
  display: none;
  height: 100%;
  width: 240px;
  padding: 0 8px 0 9px;
}

.workspace
  .workspace-body
  .code-examples
  input[type="checkbox"]#examplesToggle:checked
  ~ .example-nav {
  display: block;
}

.workspace .workspace-body .code-examples .example-nav ul.examples {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.workspace .workspace-body .code-examples .example-nav ul.examples li {
  list-style: none;
  padding: 4px;
}
.workspace .workspace-body .code-examples .example-nav ul.examples li.category {
  list-style: none;
  padding-top: 0.25em;
  padding-left: 8px;
  font-size: large;
}
.workspace
  .workspace-body
  .code-examples
  .example-nav
  ul.examples
  li.category
  a {
  display: inline-block;
  float: right;
  font-size: 10pt;
}
.workspace .workspace-body .code-examples .example-nav ul.examples li.lang {
  margin: 0;
}
.workspace .workspace-body .code-examples .example-nav ul.examples li a {
  display: block;
  padding: 5px 5px 5px 8px;
  text-decoration: none;
}
.workspace .workspace-body .code-examples .example-nav ul.examples li .links a {
  text-decoration: underline;
}

.workspace .workspace-body .code-editor {
  flex-basis: 10rem;
  flex-grow: 100;
  /*margin: 0 0 0 15px;*/
}
.workspace .workspace-body .code-editor textarea.code {
  display: none;
}
.workspace .workspace-body .code-editor div.code-ace {
  margin-bottom: 15px;
  margin-right: 0;
  height: 60vh;
  width: 100%;
  border-width: 1px;
  border-style: solid;
}
.workspace .workspace-body .code-editor input.run {
  display: inline-block;
  float: right;
  border-bottom-left-radius: 3px;

  border: 0;
  padding: 3px 40px 3px 40px;
  font-weight: bold;
  cursor: pointer;

  border-width: 1px;
  border-style: solid;
}
.workspace .workspace-body .code-editor input.run:hover {
  border-width: 1px;
  border-style: solid;
}
.workspace .workspace-body .code-editor input.run:focus {
  outline-style: auto;
  outline-width: 0px;

  border-width: 1px;
  border-style: solid;
}
.workspace .workspace-body .code-output {
  flex-basis: 10rem;
  flex-grow: 100;
}
.workspace .workspace-body .code-output iframe.output {
  width: 100%;
  height: 50vh;
  margin-bottom: 15px;

  border-width: 1px;
  border-style: solid;
  padding-top: 16px;
}

.workspace .workspace-body .code-editor .example-frame .info {
  margin-right: 30px;
}

.workspace .workspace-body .code-editor .example-frame .session-cta {
  margin-top: 30px;
}

.workspace .workspace-body .code-editor .example-frame .session-cta a {
  display: block;
  margin-top: 7px;
  width: 14rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
}

.workspace .workspace-body .code-editor .sticky .no-session {
  margin-bottom: 13px;
}

.workspace .workspace-body .code-editor .sticky .empty-example-frame {
  display: flex;
}

.workspace
  .workspace-body
  .code-editor
  .sticky
  .empty-example-frame
  .info-frame {
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20%;
  line-height: 1.5em;
}

.workspace
  .workspace-body
  .code-editor
  .sticky
  .empty-example-frame
  .info-frame
  a {
  display: inline-block;
}

.workspace
  .workspace-body
  .code-editor
  .sticky
  .empty-example-frame
  .info-frame
  a
  div,
.workspace
  .workspace-body
  .code-editor
  .sticky
  .empty-example-frame
  .info-frame
  a
  img {
  width: 190px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 0.5em;
  text-decoration: none;
}

.workspace
  .workspace-body
  .code-editor
  .sticky
  .empty-example-frame
  .info-frame
  a
  img {
  width: 190px;
  margin-top: 1em;
}

@media screen and (max-width: 750px) {
  .workspace
    .workspace-body
    .code-editor
    .sticky
    .empty-example-frame
    .info-frame {
    width: 70%;
    margin-top: 1em;
    line-height: 1.5em;
    height: 40%;
  }
}

/* Dark Mode session-info */
body.dark .session-info {
  background-color: #1f242c;

  border-bottom-color: #35414d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
body.dark .session-info h2 {
  color: #9fe264;
}
body.dark .session-info .shots a div {
  border-color: #777;
  background-color: #222;
}
body.dark .session-info .shots a:hover div {
  border-color: #bbb;
}
body.dark .session-info .shots a.start-here div {
  border-color: rgba(159, 226, 100, 0.95);
  margin-right: 50px;
}
body.dark .session-info .shots a.start-here:hover div {
  background-color: #333a32;
}
body.dark .session-info .shots a div img {
  border-color: #888888;
}
body.dark .session-info .shots a div center {
  color: rgba(159, 226, 100, 0.95);
}

/* Dark Mode workspace */
body.dark main .info-header {
  background: #262a35;

  border-top-color: #35414d;
  border-bottom-color: #394652;
}

body.dark main .info-header a {
  background-color: #262a35;
  color: #aaa;
}
body.dark main .info-header a:hover,
body.dark main .info-header a:focus {
  color: #efefef;
}

body.dark main .info-header .header-right .head-server {
  color: rgba(159, 226, 100, 0.95);
}

body.dark main .info-header .header-right .head-user,
body.dark main .info-header .header-right .head-pass {
  color: #aaa;
}

body.dark main .info-header .header-right code {
  color: #bbb;
}

body.dark .workspace .workspace-body .code-examples h2 label {
  color: #aaa;
}

body.dark .workspace .workspace-body .code-examples h2 label:hover {
  color: white;
}

body.dark .workspace .workspace-body .code-examples .pages a {
  border: 1px solid #3a5552;
  background-color: #262a35;
  color: rgba(159, 226, 100, 0.95);
}

body.dark .workspace .workspace-body .code-examples .pages a:hover {
  background-color: #333a32;
}

body.dark
  .workspace
  .workspace-body
  .code-examples
  .example-nav
  ul.examples
  li {
  border-color: #1f282c;
  border-width: 1px;
  border-style: solid;
  border-top: none;
}

body.dark
  .workspace
  .workspace-body
  .code-examples
  .example-nav
  ul.examples
  li.category {
  background-color: #262a35;
  color: rgba(159, 226, 100, 0.95);
  border-top: 1px solid #3a5552;
  border-bottom: 1px solid #3a4052;
}

body.dark
  .workspace
  .workspace-body
  .code-examples
  .example-nav
  ul.examples
  li.lang:hover,
body.dark
  .workspace
  .workspace-body
  .code-examples
  .example-nav
  ul.examples
  li.session:hover {
  background-color: #526373;
}

body.dark
  .workspace
  .workspace-body
  .code-examples
  .example-nav
  ul.examples
  li.current {
  color: #4c5863;
  background-color: #3f4858;
  border-left: 2px solid rgba(159, 226, 100, 0.95);
}

body.dark
  .workspace
  .workspace-body
  .code-examples
  .example-nav
  ul.examples
  li
  .links
  a {
  color: #bbb;
}

body.dark .workspace .workspace-body .code-editor .sticky .empty-example-frame {
  border-color: #2e3440;
  border-width: 1px;
  border-style: solid;
}

body.dark
  .workspace
  .workspace-body
  .code-editor
  .sticky
  .empty-example-frame
  .info-frame
  a
  div,
body.dark
  .workspace
  .workspace-body
  .code-editor
  .sticky
  .empty-example-frame
  .info-frame
  a
  img {
  background-color: #526373;
  border-color: #526373;
}

body.dark
  .workspace
  .workspace-body
  .code-editor
  .sticky
  .empty-example-frame
  .info-frame
  a:hover
  div,
body.dark
  .workspace
  .workspace-body
  .code-editor
  .sticky
  .empty-example-frame
  .info-frame
  a:focus
  div,
body.dark
  .workspace
  .workspace-body
  .code-editor
  .sticky
  .empty-example-frame
  .info-frame
  a:hover
  img,
body.dark
  .workspace
  .workspace-body
  .code-editor
  .sticky
  .empty-example-frame
  .info-frame
  a:focus
  img {
  background-color: #778fa7;
}

body.dark
  .workspace
  .workspace-body
  .code-editor
  .example-frame
  .session-cta
  a {
  border-color: #516374;
  background-color: #516374;
  color: #ffffff;
}

body.dark
  .workspace
  .workspace-body
  .code-editor
  .example-frame
  .session-cta
  a:hover {
  border-color: #516374;
  background-color: #778fa7;
  color: #efefef;
}

body.dark .workspace .workspace-body .code-editor div.code-ace {
  border-color: #516374;
}

body.dark .workspace .workspace-body .code-editor input.run {
  /* border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #516374;*/
  background-color: #262a35;
  color: rgba(159, 226, 100, 0.95);
  float: right;
  text-align: right;
  margin-bottom: 20px;
}
body.dark .workspace .workspace-body .code-editor input.run:hover {
  background-color: #333a32;
}

body.dark .workspace .workspace-body .code-editor form.run-submitted input.run {
  border-color: rgba(159, 226, 100, 0.95);
  background-color: #333a32;
}

body.dark .workspace .workspace-body .code-output iframe.output {
  border-color: #516374;
}

a.prev-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 7px 14px;

  background-color: #262a35;
  color: rgba(159, 226, 100, 0.95);
  text-align: right;
  margin-bottom: 20px;

  float: left;
  text-decoration: none;
  color: initial;
}

a.next-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 7px 14px;

  background-color: #262a35;
  color: rgba(159, 226, 100, 0.95);
  text-align: right;
  margin-bottom: 20px;

  float: right;
  text-decoration: none;
  color: initial;
}

a.disable {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 7px 14px;

  background-color: #262a35;
  color: rgba(159, 226, 100, 0.95);
  text-align: right;
  margin-bottom: 20px;

  text-decoration: none;
  color: initial;
  pointer-events: none;
  cursor: default;
}

.example-button {
  border-radius: 6px;
  border: 2px solid #6c7a94;
  display: flex !important;
  align-items: center;
  text-decoration: none !important;
  margin: 8px 0;

  /* Fade Effect on Hover */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.example-button:hover {
  background-color: #6c7a94;
  border: 2px solid #b8efe7;
}

.example-label {
  display: flex;
  margin: 0;
  text-decoration-line: none;
}

.example-icon {
  padding: 8px 14px;
}

.example-row {
  margin-bottom: 26px;
}

h2.home-header {
  margin: 26px 0 18px 0;
  font-size: 20px;
}

.start-session-home {
  margin-left: 0 !important;
}

.container {
  margin: 0 auto;
}

.run {
  background-color: #262a35;
  color: rgba(159, 226, 100, 0.95);
  text-align: right;
  position: absolute;
  z-index: 100;
  right: -2px;
}

.example-info-column > .session-cta {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 18px;
  margin: 24px 0;
}

.session-cta > a{
  border-color: #516374;
  background-color: #516374;
  color: #ffffff;

  display: block;
  margin-top: 7px;
  width: 14rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 0.5em;
  text-align: center;
  text-decoration: none !important;
}

.example-info-column {
  position: relative;
}

#form > div.empty-example-frame > div > div > a.example-button > img {
  background: none;
  width: 164px;
  margin: 14px 14px;
  padding: 0;
  border: none;
}

h2.example-title {
  margin-left: 0;
  margin-right: 16px;
  clear: left;
}

.example-row {
  margin: 0 !important;
}

.editor-label {
  position: absolute;
  padding: 3px 6px;
  background: #516374;
  height: auto !important;
  z-index: 100;
  font-size: 12px !important;
  border-bottom-right-radius: 3px;
}

div.example-heading > div > div > a {
  text-decoration: none !important;
}

div.example-heading > div > div > a.disable {
  opacity: 0.5;
}

div.example-heading > div > div > a:not(.next-button):before {
  content: "< ";
}

div.example-heading > div > div > a.next-button:after {
  content: " >";
}

div.example-heading > div {
  font-size: 12px;
}

@media only screen and (min-width: 992px) {
  .example-info-column {
    border-right: 1px solid rgba(255, 255, 255, 0.6);
  }
}

div.online-tools > a{
  display: block;
  margin-left: 16px;
  margin-top: 8px;
}

.progress-indicator>li {
  padding-left: 2% !important;
  padding-right: 2% !important;
}

.progress-indicator {
  text-transform: none !important;
  margin-top: 35px !important;
}

.return-home-button {
  position: absolute;
  bottom: 0;
  padding: 8px 16px;
  width: fit-content;
}

.progress-wrapper {
  width: 95%;
  margin: 35px auto;
}

