.sticky {
  position: sticky;
  top: 0;
}

.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.session-info {
  padding-top: 1em;
  padding-bottom: 10px;
  border-width: 1px;
}
.session-info h2 {
  font-weight: bold;
}
.session-info h2 em {
  font-weight: normal;
}
.session-info div {
  margin-bottom: 10px;
  margin-left: 20px;
}
.session-info div.connection {
  margin: 0 0 20px 20px;
  padding: 0 0 0 0;
  white-space: pre;
  font-size: 9pt;
  font-family: monospace;
}
.session-info div.connection a,
.session-info div.connection b {
  position: relative;
  font-size: 9pt;
  font-family: monospace;
  font-weight: bold;
}
.session-info div.connection a.ui img {
  display: none;
  position: absolute;
  top: 27px;
  left: 20px;
  width: 300px;
  z-index: 1;

  border-width: 1px;
  border-style: solid;
}
.session-info div.connection a.ui:hover img {
  display: block;
}
.session-info div.connection .preparing {
  color: #777;
}

.workspace {
  width: 100%;
}

main .info-header {
  display: flex;
  flex-direction: rows;
}

main .info-header a {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 10px;
  padding-left: 17px;
  padding-right: 7px;
  min-height: 35px;
  cursor: pointer;
  cursor: hand;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      

  text-decoration: none;
  font-size: 12px;
}

main .info-header .header-left {
  height: 35px;
}
main .info-header .header-right {
  padding-top: 9px;
  height: 25px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14px;
  white-space: nowrap;

}
main .info-header .header-right .head-server {
  font-size: 16px;
}
main .info-header .header-right .head-user {
  margin-left: 1em;
  font-size: 16px;
  font-weight: 500;
}
main .info-header .header-right .head-pass {
  margin-left: 1em;
  font-size: 16px;
  font-weight: 500;
}
main .info-header .header-right code {
  font-style: italic;
}

.workspace .workspace-body {
  display: flex;
  flex-direction: row;
}

.workspace .workspace-body h2 {
  height: 23px;
}
.workspace .workspace-body h2 .lang {
  font-weight: normal;
}

.workspace .workspace-body .code-examples .example-nav {
  height: 100%;
  width: 240px;
}
.workspace .workspace-body .code-examples .example-nav  {
  padding: 0 8px 0 9px;
}
.workspace .workspace-body .code-examples .example-nav ul.examples {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.workspace .workspace-body .code-examples .example-nav ul.examples li {
  list-style: none;
  padding: 4px;
}
.workspace .workspace-body .code-examples .example-nav ul.examples li.category {
  list-style: none;
  padding: 0.25em;
  font-size: large;
}
.workspace .workspace-body .code-examples .example-nav ul.examples li.category:not(:first-child) {
  margin-top: 20px;
}
.workspace .workspace-body .code-examples .example-nav ul.examples li.category a {
  display: inline-block;
  float: right;
  font-size: 10pt;
}
.workspace .workspace-body .code-examples .example-nav ul.examples li.lang {
  margin: 0;
}
.workspace .workspace-body .code-examples .example-nav ul.examples li a {
  display: block;
  padding: 5px 5px 5px 8px;
  text-decoration: none;
}

.workspace .workspace-body .code-editor {
  flex-basis: 10rem;
  flex-grow: 100;
  margin: 0;
}
.workspace .workspace-body .code-editor textarea.code {
  display: none;
}
.workspace .workspace-body .code-editor div.code-ace {
  margin-bottom: 15px;
  margin-right: 0;
  width: 95%;
  height: 60vh;

  border-width: 1px;
  border-style: solid;
}
.workspace .workspace-body .code-editor input.run {
  display: inline-block;
  float: right;

  margin-right: 25px;
  border: 0;
  padding: 3px 40px 3px 40px;
  font-weight: bold;
  cursor: pointer;

  border-width: 1px;
  border-style: solid;
}
.workspace .workspace-body .code-editor input.run:hover {
  border-width: 1px;
  border-style: solid;
}
.workspace .workspace-body .code-editor input.run:focus {
  outline-style: auto;
  outline-width: 0px;

  border-width: 1px;
  border-style: solid;
}
.workspace .workspace-body .code-output {
  flex-basis: 10rem;
  flex-grow: 100;
}
.workspace .workspace-body .code-output iframe.output {
  width: 95%;
  height: 60vh;
  margin-bottom: 15px;

  border-width: 1px;
  border-style: solid;
}

.workspace .workspace-body .code-editor .example-frame .info {
  margin-right: 30px;
}

.workspace .workspace-body .code-editor .sticky .no-session {
  margin-bottom: 13px;
}

.workspace .workspace-body .code-editor .sticky .empty-example-frame {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 95%;
  height: 60vh;
}

.workspace .workspace-body .code-editor .sticky .empty-example-frame .info-frame {
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20%;
  line-height: 1.5em;
  margin-top: 1.5em;
}

.workspace .workspace-body .code-editor .sticky .empty-example-frame .info-frame a {
  display: inline-block;
  margin-top: 1em;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 0.5em;
  text-decoration: none;
}

.workspace .workspace-body .code-editor .sticky .empty-example-frame .info-frame a.shot {
  border: none;
}

.workspace .workspace-body .code-editor .sticky .empty-example-frame .info-frame a.shot img {
  width: 250px;
}

@media screen and (max-width: 750px) {
  .workspace .workspace-body .code-editor .sticky .empty-example-frame .info-frame {
    width: 70%;
    margin-top: 1em;
    line-height: 1.5em;
    height: 40%;
  }
}

/* Dark Mode session-info */
body.dark .session-info {
  background-color: #1f242c;

  border-bottom-color: #35414d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
body.dark .session-info h2 {
  color: #9fe264;
}
body.dark .session-info div.connection a.ui img {
  border-color: #888888;
}

/* Dark Mode workspace */
body.dark main .info-header {
  background: #262a35;

  border-top-color: #35414d;
  border-bottom-color: #394652;
}

body.dark main .info-header a {
  background-color: #262a35;
  color: #FFFFFF;
}
body.dark main .info-header a:hover,
body.dark main .info-header a:focus {
  background-color: #526373;
  color: #EFEFEF;
}

body.dark main .info-header .header-right .head-server {
  color: rgba(159, 226, 100, 0.95);
}

body.dark .workspace .workspace-body .code-examples .example-nav ul.examples {
  border-color: #262935;
  border-width: 1px;
  border-style: solid;
}
body.dark .workspace .workspace-body .code-examples .example-nav ul.examples li.category {
  background-color: #262a35;
  color: rgba(159, 226, 100, 0.95);
  border-bottom: 4px solid #3a4052;
}

body.dark .workspace .workspace-body .code-examples .example-nav ul.examples li.lang:hover, 
body.dark .workspace .workspace-body .code-examples .example-nav ul.examples li.session:hover {
  background-color: #526373;
}
body.dark .workspace .workspace-body .code-examples .example-nav ul.examples li.current {
  color: #4c5863;
  background-color: #3F4858;
}

body.dark .workspace .workspace-body .code-editor .sticky .empty-example-frame {
  border-color: #4B5963;
  border-width: 1px;
  border-style: solid;
}

body.dark .workspace .workspace-body .code-editor .sticky .empty-example-frame .info-frame a {
  background-color: #526373;
  border-color: #526373;
}

body.dark .workspace .workspace-body .code-editor .sticky .empty-example-frame .info-frame a:hover,
body.dark .workspace .workspace-body .code-editor .sticky .empty-example-frame .info-frame a:focus {
  background-color: #778fa7;
}

body.dark .workspace .workspace-body .code-editor div.code-ace {
  border-color: #516374;
}
body.dark .workspace .workspace-body .code-editor input.run {
  border-color: #516374;
  background-color: #516374;
  color: #FFFFFF;
}
body.dark .workspace .workspace-body .code-editor input.run:hover {
  border-color: #516374;
  background-color: #778fa7;
  color: #EFEFEF;
}

body.dark .workspace .workspace-body .code-output iframe.output {
  border-color: #516374;
}
