.session-info {
  margin: 20px 30px 20px 30px;
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
}
.session-info h2 {
  font-weight: bold;
  color: #464;
}
.session-info h2 em {
  font-weight: normal;
}
.session-info div {
  margin-bottom: 10px;
  margin-left: 20px;
}
.session-info div.connection {
  margin: 0 0 20px 20px;
  padding: 0 0 0 0;
  white-space: pre;
  font-size: 9pt;
  font-family: monospace;
}
.session-info div.connection a,
.session-info div.connection b {
  position: relative;
  font-size: 9pt;
  font-family: monospace;
  font-weight: bold;
}
.session-info div.connection a.ui img {
  display: none;
  position: absolute;
  top: 30px;
  left: 20px;
  width: 300px;
  border: 1px solid #888;
  z-index: 1;
}
.session-info div.connection a.ui:hover img {
  display: block;
}

.workspace {
  display: flex;
  flex-direction: row;
}

.workspace .code-examples {
  height: 100%;
  flex-basis: 15rem;
  flex-grow: 1;
}
.workspace .code-examples ul.examples {
  margin-right: 15px;
  padding-left: 8px;
}
.workspace .code-examples ul.examples li {
  list-style: none;
  margin: 0 0 1px 0;
  border-radius: 4px;
}
.workspace .code-examples ul.examples li:hover {
  background-color: #3a424b;
}
.workspace .code-examples ul.examples li.current {
  list-style: square;
  color: #4c5863;
  background-color: #516374;
}
.workspace .code-examples ul.examples li a {
  display: block;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}
.workspace .code-examples ul.examples li.session {
  margin-top: 45px;
  /* border: 2px solid #888; */
}
/* .workspace .code-examples ul.examples li.session a.session {
  font-weight: bold;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.workspace .code-examples ul.examples li.session a.session:hover {
  background-color: #9e9;
} */
.workspace .code-editor {
  flex-basis: 10rem;
  flex-grow: 100;
  margin: 0;
}
.workspace .code-editor textarea.code {
  display: none;
}
.workspace .code-editor div.code-ace {
  margin-bottom: 15px;
  margin-right: 0;
  width: 95%;
  height: 60vh;
  border: 1px solid #888;
}
.workspace .code-editor input.run {
  border: 0;
  padding: 5px 40px 5px 40px;
  border: 1px solid #526373;
  background-color: #526373;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}
.workspace .code-editor input.run:hover {
  border: 1px solid #526373;
  background-color: #2E3540;
  color: #EFEFEF;
}

.workspace .code-editor input.run:focus {
  outline: #778fa7 auto 0px;
  border: 1px solid #778fa7;
  background-color: #2E3540;
  color: #EFEFEF;
}
.workspace .code-output {
  flex-basis: 10rem;
  flex-grow: 100;
}
.workspace .code-output iframe.output {
  width: 95%;
  height: 60vh;
  border: 1px solid #888;
  margin-bottom: 40px;
}

.sticky {
  position: sticky;
  top: 0;
}

.display-none {
  display: none;
}
.hidden {
  visibility: hidden;
}