article {
  flex-basis: 40rem;
  margin-left: 2.1rem;
  margin-bottom: 2em;
}
article form {
  margin-top: 30px;
}
article label {
  font-weight: bold;
}
article .details {
  font-weight: normal;
  font-size: 9pt;
}
article input[type=text] {
  width: 20rem;
  margin: 5px 0 10px 0;
  background-color: #f8f8f8;
  padding: 3px 5px 3px 5px;
}
article input[type=submit] {
  margin-top: 1em;
  margin-right: 0.7em;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 0.5em 1rem;
  line-height: 1.5em;
  text-decoration: none;
  font-size: 11pt;
  cursor: pointer;
}
article input[type=submit]:hover {
  border-width: 1px;
  border-style: solid;
}
article img.captcha {
  display: block;
}

article > section {
  padding-left: 17px;
}
article > header {
  margin-top: 1em;
  height: 1.8em;
}

form {
  margin-bottom: 30px;
}

form span.err {
  margin-top: 10px;
  font-weight: bold;
}

form .captcha-bg {
  width: 20.625rem;
  border-radius: 3px;
  margin-bottom: 1em;
}

form .actions * {
  display: inline;
}

form .actions .cancel, .actions .cancel a {
  color: #999;
}

/* Dark Mode */
body.dark article input {
  color: #222;
  border-radius: 3px;
}
body.dark article input[type=submit] {
  border-color: #526373;
  background-color: #526373;
  color: #FFFFFF;
}
body.dark article input[type=submit]:hover {
  border-color: #778fa7;
  background-color: #778fa7;
  color: #EFEFEF;
}

body.dark form .error {
  color: #f83838;
}

body.dark form .captcha-bg {
  background-color: #bfd4e7;
}
