article {
  flex-basis: 40rem;
  margin-bottom: 2em;
}
article form {
  margin-top: 30px;
}
article label {
  font-weight: bold;
}
article .details {
  font-weight: normal;
  font-size: 9pt;
}
article input[type=text] {
  width: 20rem;
  margin: 5px 0 10px 0;
  padding: 3px 5px 3px 5px;
}
article input[type=submit] {
  border: 0;
  padding: 5px 40px 5px 40px;
  margin-top: 15px;
  padding: 5px 20px 5px 20px;
  font-weight: bold;
  cursor: pointer;

  border-width: 1px;
  border-style: solid;
}
article input[type=submit]:hover {
  border-width: 1px;
  border-style: solid;
}
article input[type=submit]:focus {
  outline-style: auto;
  outline-width: 0px;

  border-width: 1px;
  border-style: solid;
}
article img.captcha {
  display: block;
}
form span.err {
  margin-top: 10px;
  font-weight: bold;
}

article > section {
  padding-left: 17px;
}

article > header {
  margin-top: 1em;
}

body > header {
  display: flex;
  flex-direction: column;
}

form .captcha-bg {
  width: 20.625rem;
  border-radius: 3px;
  margin-bottom: 1em;
}

/* Dark Mode */
body.dark article input {
  color: #222;
  border-radius: 3px;
}
body.dark article input[type=submit] {
  border-color: #516374;
  background-color: #516374;
  color: #FFFFFF;
}
body.dark article input[type=submit]:hover {
  border-color: #778fa7;
  background-color: #778fa7;
  color: #EFEFEF;
}

body.dark form .error {
  color: red;
}

body.dark form .captcha-bg {
  background-color: #bfd4e7;
}
