article {
  flex-basis: 40rem;
  margin-bottom: 2em;
}
article form {
  margin-top: 30px;
}
article label {
  font-weight: bold;
}
article .details {
  font-weight: normal;
  font-size: 9pt;
}
article input[type=text] {
  width: 20rem;
  margin: 5px 0 10px 0;
  padding: 3px 5px 3px 5px;
}
article input[type=submit] {
  margin-top: 15px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}
article img.captcha {
  display: block;
}
form span.err {
  margin-top: 10px;
  font-weight: bold;
}

article > section {
  padding-left: 17px;
}

header {
  display: flex;
  flex-direction: column;
}

/* Dark Mode */
body.dark article input {
  color: #222;
  border-radius: 3px;
}
body.dark article input[type=submit] {
  border: 0;
  padding: 5px 40px 5px 40px;
  border: 1px solid #516374;
  background-color: #516374;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}
body.dark article input[type=submit]:hover {
  border: 1px solid #516374;
  background-color: #2E3540;
  color: #EFEFEF;
}
body.dark article input[type=submit]:focus {
  outline: #778fa7 auto 0px;
  border: 1px solid #778fa7;
  background-color: #2E3540;
  color: #EFEFEF;
}

body.dark form .error {
  color: red;
}

body.dark form .captcha-bg {
  width: 20.625rem;
  border-radius: 3px;
  background-color: #bfd4e7;
  margin-bottom: 1em;
}