body {
  margin: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

/* Vertical Layout */
body {
  width: 100%;
  display: grid;
  grid-template-rows: 60px    auto   40px;
  /*                  header  main   footer */
}

/* Header Styles */
header {
  display: flex;
  flex-direction: row;
  height: 60px;
}

header .logo {
  width: 50%;
}

header h1 {
  margin: 1.265em 1.265em 1.265em 17px;
  white-space: nowrap;
  font-size: 16px;
}

header nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin: 17px;
}

header nav ul { padding: 0; }
header nav ul { display: flex; margin: 0; }
header nav ul li { list-style-type: none; }
header nav ul > li:not(:last-child) { margin-right: 1em; }

header nav ul > li a {
  text-decoration: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 0px;
  background-position-y: 1.1em;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.2s;
}
header nav ul > li a:hover,
header nav ul > li a:visited:hover,
header nav ul > li a:active:hover,
header nav ul > li a.session {
  text-decoration: none;
  background-size: 100% 1px;
}
header nav ul > li a.session:hover {
  text-decoration: none;
  background-position: 0% 100%;
  background-size: 29% 1px;
}
header nav ul > li a:focus,
header nav ul > li a:visited {
  text-decoration: none;
  background-size: 0% 1px;
}

h2 {
  margin-top: 0;
  margin-left: 17px;
  white-space: nowrap;
  font-size: 15px;
}

.sticky h2 {
  margin-left: 0;
  white-space: nowrap;
  font-size: 15px;
}

main {
  min-height: calc(100vh - 120px);
  height: 100%;
}

body.dark > main > .info-panel {
  padding: 0;
}

main > .info-panel > .message-info {
  padding: 40px 30px 40px 30px;
  font-weight: 600;
}

main > .workspace {
  margin: 0 0 2em 0;
}

main > .workspace > .workspace-body {
  margin-top: 1em;
}

footer {
  height: 21px;
  font-size: 8pt;
  padding: 14px 14px;
}

footer div { 
  margin: 0.25em 0 0.25em 0;
}

footer span.ver-sdk {
  margin-left: 1em;
}

/* links */
a { text-decoration: none; }

a.button {
  text-decoration: none;
  cursor: pointer;
  padding: 3px 30px 3px 30px;
  font-weight: bold;
}

a.button:hover {
  text-decoration: underline;
}

/* Utility Classes */
input, pre {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.nowrap {
  white-space: nowrap;
}

.div-hr {
  margin-top: 1px;
  padding: 0 8px;
}
.div-hr hr {
  width: 100%;
  border: 0;
  height: 1px;
}

input, pre {
  border-width: 1px;
  border-style: solid;
}

.ace-nord-dark .ace_print-margin {
  width: 1px;
  background:#38404e;
}

/* Dark Mode */
body.dark {
  background-color: #232831;
}

body.dark > header {
  background-color: #1b1e25;
}

body.dark > header h1 {
  color: #eee;
}

body > header > nav > ul > li > a {
  color: #FFF;
  background-image: linear-gradient(currentColor, currentColor);
}

body.dark > main {
  background-color: #2e3440;
  color: #EFEFEF;
}

body.dark > main > .info-panel > .message-info {
  padding: 17px;
  border-bottom: 1px solid #000;
  color: #EFEFEF;
}

body.dark > footer {
  background-color: #232831;
  border-top: 1px solid #414a5a; 
  color: #EFEFEF;
}

/* Dark Mode Links */
body.dark a { 
  color: #FFF;
  text-decoration: underline;
}

/* Dark Mode Menu Links */
body.dark header nav ul > li a {
  color: #FFF;
  background-image: linear-gradient(currentColor, currentColor);
}
body.dark header nav ul > li a.session:hover {
  color: red;
}

/* Dark Mode hr */
.div-hr hr {
  background-color: #4c5863!important;
  background: #4c5863;
}

/* Dark Mode Utility Classes */
body.dark input, body.dark pre {
  border-color: #888;
  color: #FFF;
}
