body {
  margin: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

/* Vertical Layout */
body {
  width: 100%;
  /*display: grid;*/
  /*grid-template-rows: 50px    auto   40px;*/
  /*                  header  main   footer */
}

body a {
  color: #333;
}

a:hover {
  /* Fade Effect on Hover */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

/* Header Styles */
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.header-flex-container {
  display: flex;
  flex-direction: row;
  height: 50px;
  flex-basis: 100%;
}

.subheader-container {
  background-color: #100F14;
  z-index: 101;
  display: flex;
  border-bottom: 1px solid #706b84;
  flex-basis: 100%;
  min-height: 40px;
}

.subheader-container > ul {
  list-style: none;
  display: flex;
  /*  TODO: margin left auto rule is for pushing it to right side */
  margin-left: auto;
  margin-right: 6px;
}

.hidden {
  visibility: hidden;
  display: none;
}

@media (max-width: 520px) {
  .hidden-xs {
    visibility: hidden;
    display: none !important;
  }
}

@media (min-width: 521px) {
  .hidden-sm {
    visibility: hidden;
    display: none !important;
  }
}

@media (max-width: 767px) {
  .subheader-container > ul {
    list-style: none;
    /* TODO: toggle block and none here */
    display: none;
    margin-left: 0;
  }

  .subheader-container > ul > li {
    margin: 1.5em auto;
  }

  .hidden-mobile {
    display: none !important;
    visibility: hidden !important;
  }

  #onetrust-policy-text {
    margin-bottom: 0 !important;
  }

  #onetrust-policy {
    margin-bottom: 0.10em !important;
    margin-top: 0.5em !important;
  }

  .container:not(.container-example) {
    width: 80% !important;
  }
}

@media (max-width: 991px) {
  .hidden-md {
    display: none !important;
    visibility: hidden !important;
  }

  .example-info-column {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }
}

@media (min-width: 768px) {
  #menuToggle {
    display: none;
  }

  .subheader-container > ul {
    display: flex !important;
  }

  .hidden-lg {
    display: none !important;
    visibility: hidden !important;
  }

  .toggle-btn {
    margin-bottom: 1rem;
  }
}

.subheader-container > ul > li {
  padding: 0 0.85em;
}

.subheader-container > ul > li > a {
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 6px;
}

.subheader-container > ul > li > a:hover {
  filter: opacity(0.8);
  background: #394652;
  /* Fade Effect on Hover */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

#menuToggle {
  position: absolute;
  right: 18px;
  margin-top: 8px;
  cursor: pointer;
}

header .logo {
  width: 50%;
}

header .logo h1 {
  display: inline;
  margin-left: 10px;
  white-space: nowrap;
  font-size: 17px;
}

header .logo h1 img {
  height: 30px;
  display: inline-block;
  position: relative;
  top: 8px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid white;
}

header nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin: 17px;
}

header nav ul { padding: 0; }
header nav ul { display: flex; margin: 0; }
header nav ul li { list-style-type: none; }
header nav ul > li:not(:last-child) { margin-right: 1em; }

header nav ul > li a {
  white-space: nowrap;
  text-decoration: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 0px;
  background-position-y: 1.1em;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.2s;
}
header nav ul > li a:hover,
header nav ul > li a:visited:hover,
header nav ul > li a:active:hover,
header nav ul > li a.session {
  text-decoration: none;
  background-size: 100% 1px;
}
header nav ul > li a.session:hover {
  text-decoration: none;
  background-position: 0% 100%;
  background-size: 2.2em 1px;
}
header nav ul > li a:focus,
header nav ul > li a:visited {
  text-decoration: none;
  background-size: 0% 1px;
}

h2 {
  margin-top: 0;
  margin-left: 17px;
  white-space: nowrap;
  font-size: 15px;
}

.sticky h2 {
  margin-left: 0;
  white-space: nowrap;
  font-size: 15px;
}

main {
  /*min-height: calc(100vh - 120px);*/
  min-height: 85vh;
  height: 100%;
}

body.dark > main > .info-panel {
  padding: 0;
}

main > .info-panel > .message-info {
  padding: 40px 30px 40px 30px;
  font-weight: 600;
}

main > .workspace {
  padding: 0 0 2em 0;
}

footer {
  height: 21px;
  font-size: 8pt;
  padding: 14px 14px;
}

footer div {
  margin: 0.25em 0 0.25em 0;
}

footer span.ver-sdk {
  margin-left: 1em;
}

/* links */
a { text-decoration: none; }

a.button {
  text-decoration: none;
  cursor: pointer;
  padding: 3px 30px 3px 30px;
  font-weight: bold;
}

a.button:hover {
  text-decoration: underline;
}

/* Utility Classes */
input, pre {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.nowrap {
  white-space: nowrap;
}

.div-hr {
  margin-top: 1px;
  padding: 0 8px;
}
.div-hr hr {
  width: 100%;
  border: 0;
  height: 1px;
}

input, pre {
  border-width: 1px;
  border-style: solid;
}

.ace-nord-dark .ace_print-margin {
  width: 1px;
  background:#38404e;
}

/* Dark Mode */
body.dark {
  background-color: #232831;
}

body.dark > header {
  height: fit-content;
  z-index: 100;
  background-color: #1b1e25;
}

body.dark > header h1 {
  color:#fff;
}

body > header > nav > ul > li {
  color: #FFF;
}
body > header > nav > ul > li > a {
  color: #FFF;
  background-image: linear-gradient(currentColor, currentColor);
}

body.dark > main {
  background-color: #2e3440;
  color: #EFEFEF;
}

body.dark > main > .info-panel > .message-info {
  padding: 17px;
  border-bottom: 1px solid #000;
  color: #EFEFEF;
}

body.dark > footer {
  background-color: #232831;
  border-top: 1px solid #414a5a;
  color: #EFEFEF;
}

/* Dark Mode Links */
body.dark a {
  color: #FFF;
  text-decoration: underline;
}

/* Dark Mode Menu Links */
body.dark header nav ul > li a {
  color: #FFF;
  background: none;
}
body.dark header nav ul > li a.session:hover {
  color: #eec4c4;
}

/* Dark Mode hr */
.div-hr hr {
  background-color: #4c5863!important;
  background: #4c5863;
}

/* Dark Mode Utility Classes */
body.dark input, body.dark pre {
  border-color: #888;
  color: #FFF;
}


body > header > div > a {
  text-decoration: none !important;
}

.logo {
  padding-top: 4px;
}

body > header > div > div> h1 > a {
  text-decoration: none !important;
}

.menu-button {
  text-decoration: none !important;
  border: 2px solid #6c7a94;
  padding: 8px 14px;
  border-radius: 6px;
  /* Fade Effect on Hover */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.menu-button:hover {
  text-decoration: none !important;
  background-color: #6c7a94;
  border: 2px solid #b8efe7;
}

.red-button {
  border: 2px solid #cd575a !important;
}

.red-button:hover {
  border: 2px solid #ea2328 !important;
  background: rgba(237, 117, 117, 0.8) !important;
}

.menu-button {
  text-decoration: none !important;
}

.logo {
  padding-top: 4px;
}

.noclick:hover {
  background-color: transparent !important;
  border: 2px solid #6c7a94;
  cursor: default;
}

.noclick.red-button:hover {
  border: 2px solid #cd575a !important;
}

.faded {
  filter: opacity(60%);
}

#onetrust-pc-btn-handler {
  color: #EA2328 !important;
}
