body {
  background-color: #FFF;
  margin: 0 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 11pt;
}
/* Header Styles */
header {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: #010101;
}

header .logo {
  width: 50%;
}

header h1 {
  margin: 1em;
  white-space: nowrap;
  font-size: 13pt;
  color: #eee;
}

header nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin: 1.265em;
}

header nav ul { padding: 0; }
header nav ul { display: flex; margin: 0; }
header nav ul li { list-style-type: none; }
header nav ul > li:not(:last-child) { margin-right: 1em; }

header nav ul > li a {
  text-decoration: none;
  color: #FFF;

  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 0px;
  background-position-y: 1.1em;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.08s;
}
header nav ul > li a:hover,
header nav ul > li a:visited:hover,
header nav ul > li a:active:hover,
header nav ul > li a.session {
  text-decoration: none;
  background-size: 100% 1px;
}
header nav ul > li a.session:hover {
  text-decoration: none;
  background-position: 0% 100%;
  background-size: 29% 1px;
  color: red;
}
header nav ul > li a:focus,
header nav ul > li a:visited {
  text-decoration: none;
  background-size: 0% 1px;
}

h2 {
  margin-right: 20px;
  white-space: nowrap;
  font-weight: normal;
  font-size: 11pt;
}

a {
  color: #333;
}

a.button {
  border: 2px solid #888;
  padding: 3px 30px 3px 30px;
  background-color: #d8d8d8;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

a.button:hover {
  background-color: #eee;
}

.msg {
  margin: 40px 30px 40px 30px;
  border-bottom: 1px solid #666;
  padding-bottom: 40px;
  font-weight: bold;
  color: #333;
}

.workspace {
  margin: 0 30px 80px 30px;
}

input, pre {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #888;
  font-size: 13px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.nowrap {
  white-space: nowrap;
}

footer {
  height: 31px;
  background-color: #222;
  border-top: 1px solid #000; 
  font-size: 8pt;
  padding: 14px 14px;
  color: #EFEFEF;
}
footer div{ margin: 0.25em 0 0.25em 0;}